<div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ติดต่อเรา</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">&nbsp;</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row person-details">
            <div class="col-12 col-lg-4">
                <h3>กรมพลศึกษา</h3>
                <p>
                    เลขที่ 154 ถนนพระราม 1<br />
                    แขวงวังใหม่ เขตปทุมวัน<br />
                    กรุงเทพฯ 10330
                </p>
                <p>
                    โทรศัพท์ : 0 2214 0120<br />
                    โทรสาร : 0 2216 4408<br />
                    อีเมล์ : <a href="mailto:webmaster@dpe.go.th">webmaster@dpe.go.th</a>
                </p>
            </div>
            <div class="col-12 col-lg-8">
                <a href="images/map.png"><img src="images/map.png" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.5360781708873!2d100.52371711483043!3d13.746513890350856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2993281a96fa7%3A0x40ef01d4b0a30812!2z4LiB4Lij4Lih4Lie4Lil4Lio4Li24LiB4Lip4LiyIOC4geC4o-C4sOC4l-C4o-C4p-C4h-C4geC4suC4o-C4l-C5iOC4reC4h-C5gOC4l-C4teC5iOC4ouC4p-C5geC4peC4sOC4geC4teC4rOC4sg!5e0!3m2!1sth!2sth!4v1579358852934!5m2!1sth!2sth" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
