
<style>
    #regions_div {
        width: 550px;
        overflow: hidden;
    }

    #regions_div svg {
        margin-left: -300px;
    }


</style>
<div class="page_home">
    <div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
        <div class="full_slide">
            <div class="wellcome_sec">
                <div class="container">
                    <div class="wellcome">
                        <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card page-carousel">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="/images\slide\slide_home1.jpg" alt="First slide">
                        <!--<div class="carousel-caption d-none d-md-block">
                                                      <p>สนามกีฬาแห่งชาติ</p>
                                                  </div>-->
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/images\slide\slide_home2.jpg" alt="Second slide">
                        <!--<div class="carousel-caption d-none d-md-block">
                                                      <p>ทางเข้าสนามกีฬา</p>
                                                  </div>-->
                    </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
        <div class="filter"></div>
    </div>
</div>
<div class="sec_head gray">
    <div class="wellcome_sec">
        <div class="container">
            <div class="col-lg-4">
                <div class="wellcome">
                    <h2>สรุปจำนวนสนามกีฬา</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 con_center">
                <div id="regions_div" style="width: 500px; height: 550px;"></div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 con_center">
                <div class="table_map table-responsive2">
                    <table class="table table-bordered2 shadow" id="tblReportStadium1">
                        <thead>
                            <tr>
                                <th colspan="2" scope="col" class="con_center bg_green"><h3>จำนวนสนามกีฬาแบ่งตามจังหวัด</h3></th>
                            </tr>
                            <tr>
                                <th scope="col" class="tx_green"><h5>จังหวัด</h5></th>
                                <th scope="col" class="tx_green"><h5>จำนวนสนามกีฬา</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">กรุงเทพมหานคร</th>
                                <td>1,626</td>
                            </tr>
                            <tr>
                                <th scope="row">พะเยา</th>
                                <td>831</td>
                            </tr>
                            <tr>
                                <th scope="row">สตูล</th>
                                <td>1,013</td>
                            </tr>
                            <tr>
                                <th scope="row">นครราชสีมา</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">ตาก</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">ตราด</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">เพชรบุรี</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">เลย</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">สกลนคร</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">แม่ฮ่องสอน</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">เชียงใหม่</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">พิษณุโลก</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">สงขลา</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">สุราษฏร์ธานี</th>
                                <td>1,925</td>
                            </tr>
                            <tr>
                                <th scope="row">ขอนแก่น</th>
                                <td>1,925</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_act">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="head_act">
                    <h5><img src="/images/ic_news.png" width="27" height="30" alt="" /> HOT NEWS</h5>
                </div>
                <div class="news_sec">
                    <div class="card page-carousel">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carouse2">
                            <div class="readmore_all"><a href="#">อ่านทั้งหมด</a></div>
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid" src="/images/news/630100000009.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h4>กิจกรรม”Haier Bangkok 10k International Run”</h4>
                                        <p>
                                            นายสันติ  ป่าหวาย  อธิบดีกรมพลศึกษา ร่วมพิธีเปิดพร้อมร่วมวิ่งระยะทาง 5 กิโลเมตร ในกิจกรรม”Haier Bangkok 10k  International Run”

                                            โดยมี นายหลู่ย์ เจี้ยน เอกอัครราชฑูตสาธารณรัฐประชาชนจีนประจำประเทศไทย นายจาง เจิ้งฮุ้ย ประธานกรรมการบริหาร บริษัท ไฮเออร์ อีเลคทริคอล และแอพพลายแอนซ์ (ประเทศไทย) จำกัด และผู้เข้าร่วมกิจกรรมกว่า 5000  คน
                                        </p>
                                        <a href="#">read more</a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="/images/news/630100000044.jpg" alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h4>กิจกรรม”Haier Bangkok 10k International Run”</h4>
                                        <p>
                                            นายสันติ  ป่าหวาย  อธิบดีกรมพลศึกษา ร่วมพิธีเปิดพร้อมร่วมวิ่งระยะทาง 5 กิโลเมตร ในกิจกรรม”Haier Bangkok 10k  International Run”

                                            โดยมี นายหลู่ย์ เจี้ยน เอกอัครราชฑูตสาธารณรัฐประชาชนจีนประจำประเทศไทย นายจาง เจิ้งฮุ้ย ประธานกรรมการบริหาร บริษัท ไฮเออร์ อีเลคทริคอล และแอพพลายแอนซ์ (ประเทศไทย) จำกัด และผู้เข้าร่วมกิจกรรมกว่า 5000  คน
                                        </p>
                                        <a href="#">read more</a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="/images/news/621000000254.jpeg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h4>กิจกรรม”Haier Bangkok 10k International Run”</h4>
                                        <p>
                                            นายสันติ  ป่าหวาย  อธิบดีกรมพลศึกษา ร่วมพิธีเปิดพร้อมร่วมวิ่งระยะทาง 5 กิโลเมตร ในกิจกรรม”Haier Bangkok 10k  International Run”

                                            โดยมี นายหลู่ย์ เจี้ยน เอกอัครราชฑูตสาธารณรัฐประชาชนจีนประจำประเทศไทย นายจาง เจิ้งฮุ้ย ประธานกรรมการบริหาร บริษัท ไฮเออร์ อีเลคทริคอล และแอพพลายแอนซ์ (ประเทศไทย) จำกัด และผู้เข้าร่วมกิจกรรมกว่า 5000  คน
                                        </p>
                                        <a href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev"> <span class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next"> <span class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="activity">
                    <div class="head_act">
                        <h5 class="tx_center"><img src="/images/ic_calendar.png" width="27" height="30" alt="" /> ปฎิทินกิจกรรม</h5>
                    </div>
                    <div class="month_sec">DECEMBER</div>
                    <div class="day_sec">
                        <div class="row">
                            <div class="day_left">
                                <h3>02</h3>
                                <span>DEC</span>
                            </div>
                            <div class="detail_right">
                                <a href="#">ขอเชิญชวนผู้สนใจ ครู อาจารย์ อาสาสมัคร เจ้าหน้าที่ ที่มีหน้าที่รับผิดชอบดำเนินงานเกี่ยวกับการ...</a>
                                <div class="rating"><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="day_sec">
                        <div class="row">
                            <div class="day_left">
                                <h3>08</h3>
                                <span>DEC</span>
                            </div>
                            <div class="detail_right">
                                <a href="#">ขอเชิญชวนผู้สนใจ ครู อาจารย์ อาสาสมัคร เจ้าหน้าที่ ที่มีหน้าที่รับผิดชอบดำเนินงานเกี่ยวกับการ...</a>
                                <div class="rating"><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="day_sec">
                        <div class="row">
                            <div class="day_left">
                                <h3>10</h3>
                                <span>DEC</span>
                            </div>
                            <div class="detail_right">
                                <a href="#">ขอเชิญชวนผู้สนใจ ครู อาจารย์ อาสาสมัคร เจ้าหน้าที่ ที่มีหน้าที่รับผิดชอบดำเนินงานเกี่ยวกับการ...</a>
                                <div class="rating"><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="day_sec">
                        <div class="row">
                            <div class="day_left">
                                <h3>16</h3>
                                <span>DEC</span>
                            </div>
                            <div class="detail_right">
                                <a href="#">ขอเชิญชวนผู้สนใจ ครู อาจารย์ อาสาสมัคร เจ้าหน้าที่ ที่มีหน้าที่รับผิดชอบดำเนินงานเกี่ยวกับการ...</a>
                                <div class="rating"><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /><img src="/images/ic_star.png" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="readmore"><a href="/Events">read more &#xbb;</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_location">
    <div class="sec_head">
        <div class="wellcome_sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="wellcome">
                            <h2>สถานที่ออกกำลังกาย</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10"></div>
                <div class="col-sm-12 col-md-12 col-lg-2 readmore_bt tx_right"><a href="/Stadium">ดูทั้งหมด</a></div>
            </div>
            <div class="location">
                <div class="row">
                    <div class="MultiCarousel" data-items="1,3,4,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/15_1_2018-09-30__17-58-52.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">สนามฟุตบอลโรงเรียนบ้านผาวัง</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/23_1_2018-10-29__21-42-28.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนอนุบาลเมืองเมยวดี หมู่ 4</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/24_1_2019-08-11__13-11-07.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนบ้านหาด</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/31_1_2019-02-13__08-51-36.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนบ้านสองแคว</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/35_1_2019-02-18__12-17-34.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนบ้านมะม่วงเจ็ดต้น</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/36_1_2018-08-09__10-29-56.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนบ้านน้ำพุ</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/43_1_2019-01-25__15-43-00.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนบ้านบางนอน</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/58_1_2018-12-05__21-08-52.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">ที่ว่าการอำเภอท่าเรือ</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                    <a href="#"><img src="/images/location/83_1_2018-10-30__20-07-53.jpg" width="500" height="375" alt="" /></a>
                                    <p class="lead">โรงเรียนเบญจคาม</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary leftLst">&#xab;</button>
                        <button class="btn btn-primary rightLst">&#xbb;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 tx_center">
                <div class="tim-title">
                    <h1>Survey</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="bt_survey shadow">
                    <h5>
                        <a href="https://www.nspct.org/exercise/">
                            <img src="/images/ic_survey.png" width="69" height="69" alt="" />แบบสำรวจออนไลน์พฤติกรรมการออกกำลังกาย/เล่นกีฬาของคนไทย (Exercise Behaviors in Thailand – EBT)
                        </a>
                    </h5>
                </div>
            </div>
            @*<div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="bt_survey shadow">
                        <h5>
                            <a href="/Survey">
                                <img src="/images/ic_survey.png" width="69" height="69" alt="" />แบบสารวจประชาชนที่ออกกาลังกาย หรือเล่นกีฬาอย่างสม่าเสมอประจาปีงบประมาณ พ.ศ. 2563
                            </a>
                        </h5>
                    </div>
                    <br>
                    <br>
                </div>*@
        </div>
    </div>
</div>
<div class="section_personnel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 tx_center">
                <div class="personnel_header">
                    <div class="tx_center">
                        <h2>บุคลากรการกีฬา</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="tab">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" id="num_people-tab" data-toggle="tab" href="#num_people" role="tab" aria-controls="num_people" aria-selected="true">จำนวนคนออกกำลังกาย</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="num_per-tab" data-toggle="tab" href="#num_per" role="tab" aria-controls="num_per" aria-selected="false">จำนวนบุคลากรแต่ละพื้นที่</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="num_acti-tab" data-toggle="tab" href="#num_acti" role="tab" aria-controls="num_acti" aria-selected="false">กิจกรรมที่กำลังจัด ณ ขณะนี้</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="behav-tab" data-toggle="tab" href="#behav" role="tab" aria-controls="behav" aria-selected="false">พฤติกรรมการออกกำลังกาย</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="acti-tab" data-toggle="tab" href="#acti" role="tab" aria-controls="acti" aria-selected="false">กิจกรรม</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="loca-tab" data-toggle="tab" href="#loca" role="tab" aria-controls="loca" aria-selected="false">สถานที่ออกกำลังกาย</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="personnel-tab" data-toggle="tab" href="#personnel" role="tab" aria-controls="personnel" aria-selected="false">บุคคลกร</a> </li>
                            </ul>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-9 bg_tab">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="num_people" role="tabpanel" aria-labelledby="num_people-tab">
                                    <div class="text-center">
                                        <h3>สรุปจำนวนคนออกกำลังกาย</h3>
                                    </div>
                                    <br />
                                    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
                                    <script>
                                        window.onload = function () {
                                            var chart = new CanvasJS.Chart("chartContainer", {
                                                animationEnabled: true,
                                                data: [{
                                                    type: "doughnut",
                                                    startAngle: 240,
                                                    //innerRadius: 60,
                                                    indexLabelFontSize: 15,
                                                    indexLabel: "{label}",
                                                    toolTipContent: "<b>{label}:</b>",
                                                    dataPoints: [
                                                        { y: 6027, label: "ม.ค. 62 : 6,027 คน" },
                                                        { y: 5027, label: "ก.พ. 62 : 5,027 คน" },
                                                        { y: 6500, label: "มี.ค. 62 : 6,500 คน" },
                                                        { y: 6120, label: "เม.ย. 62 : 6,120 คน" },
                                                        { y: 5010, label: "พ.ค. 62 : 5,010 คน" },
                                                        { y: 6100, label: "มิ.ย. 62 : 6,100 คน" },
                                                        { y: 5850, label: "ก.ค. 62 : 5,850 คน" },
                                                        { y: 5800, label: "ส.ค. 62 : 5,800 คน" },
                                                        { y: 5820, label: "ก.ย. 62 : 5,820 คน" },
                                                        { y: 5950, label: "ต.ค. 62 : 5,950 คน" },
                                                        { y: 6000, label: "พ.ย. 62 : 6,000 คน" },
                                                        { y: 6027, label: "ธ.ค. 62 : 6,027 คน" },
                                                    ]
                                                }]
                                            });
                                            chart.render();
                                        }
                                    </script>
                                </div>
                                <div class="tab-pane fade" id="num_per" role="tabpanel" aria-labelledby="num_per-tab">
                                    <h3>จำนวนบุคลากรแต่ละพื้นที่</h3>
                                    <div class="text-center"><img src="/images/person_area.jpg" /></div>
                                </div>
                                <div class="tab-pane fade" id="num_acti" role="tabpanel" aria-labelledby="num_acti-tab">
                                    <h3>กิจกรรมที่กำลังจัด ณ ขณะนี้</h3>
                                    <div class="text-center"><img src="/images/events_now.jpg" /></div>
                                </div>
                                <div class="tab-pane fade" id="behav" role="tabpanel" aria-labelledby="behav-tab">
                                    <h3>พฤติกรรมการออกกำลังกาย</h3>
                                    <div class="text-center"><img src="/images/ex_behavior.jpg" /></div>
                                </div>
                                <div class="tab-pane fade" id="acti" role="tabpanel" aria-labelledby="acti-tab">
                                    <div class="text-center">
                                        <h3>สรุปจำนวนกิจกรรม</h3>
                                        <p><strong>รวม <label id="lblReportEvent1Count">-</label> กิจกรรม</strong></p>
                                    </div>
                                    <br />
                                    <div class="table_summary table-responsive2">
                                        <table id="tblReportEvent1" class="table table-bordered2">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="tx_green"><h5>จังหวัด</h5></th>
                                                    <th scope="col" class="tx_green tx_right"><h5>จำนวนกิจกรรม</h5></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">กรุงเทพมหานคร</th>
                                                    <td>1,626</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พะเยา</th>
                                                    <td>831</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สตูล</th>
                                                    <td>1,013</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">นครราชสีมา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตาก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตราด</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เพชรบุรี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เลย</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สกลนคร</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">แม่ฮ่องสอน</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เชียงใหม่</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พิษณุโลก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สงขลา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สุราษฏร์ธานี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ขอนแก่น</th>
                                                    <td>1,925</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="loca" role="tabpanel" aria-labelledby="loca-tab">
                                    <div class="text-center">
                                        <h3>สรุปจำนวนสถานที่ในภาคกลาง</h3>
                                        <p><strong>รวม <label id="lblReportStadiumCount">-</label> สถานที่</strong></p>
                                    </div>
                                    <br />
                                    <div class="table_summary table-responsive2">
                                        <table class="table table-bordered2" id="tblReportStadium2">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="tx_green"><h5>จังหวัด</h5></th>
                                                    <th scope="col" class="tx_green tx_right"><h5>จำนวนสถานที่</h5></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">กรุงเทพมหานคร</th>
                                                    <td>1,626</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พะเยา</th>
                                                    <td>831</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สตูล</th>
                                                    <td>1,013</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">นครราชสีมา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตาก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตราด</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เพชรบุรี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เลย</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สกลนคร</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">แม่ฮ่องสอน</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เชียงใหม่</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พิษณุโลก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สงขลา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สุราษฏร์ธานี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ขอนแก่น</th>
                                                    <td>1,925</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="personnel" role="tabpanel" aria-labelledby="personnel-tab">
                                    <div class="text-center">
                                        <h3>สรุปจำนวนบุคลากรในภาคกลาง</h3>
                                        <p><strong>รวม 700 คน</strong></p>
                                    </div>
                                    <br />
                                    <div class="table_summary table-responsive2">
                                        <table class="table table-bordered2">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="tx_green"><h5>จังหวัด</h5></th>
                                                    <th scope="col" class="tx_green tx_right"><h5>จำนวนบุคลากร</h5></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">กรุงเทพมหานคร</th>
                                                    <td>1,626</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พะเยา</th>
                                                    <td>831</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สตูล</th>
                                                    <td>1,013</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">นครราชสีมา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตาก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ตราด</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เพชรบุรี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เลย</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สกลนคร</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">แม่ฮ่องสอน</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">เชียงใหม่</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">พิษณุโลก</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สงขลา</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">สุราษฏร์ธานี</th>
                                                    <td>1,925</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ขอนแก่น</th>
                                                    <td>1,925</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                </div>
            </div>
            <!-- /.container -->

        </div>
    </div>
</div>

<form id="pageForm-test" method="post">
    <input type="hidden" id="STADIUM_NAME" name="STADIUM_NAME" value="โรงเรียนบ้านหอระฆัง" />
</form>

@section Scripts {

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      //  google.charts.load('current', {
      //  'packages':['geochart'],
      //  // Note: you will need to get a mapsApiKey for your project.
      //  // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
      //  'mapsApiKey': 'AIzaSyBW_ZloATWKeCRioFkeAQIaqTJErmD-IQA'
      //});
      //google.charts.setOnLoadCallback(drawRegionsMap);

      //function drawRegionsMap() {
      //  var data = google.visualization.arrayToDataTable([
      //      ['จังหวัด', 'จำนวนสนามกีฬา'],
      //      ['เชียงใหม่', 298],
      //      ['Chiang Rai', 393],
      //      ['Phetchaburi', 348],
      //      ['Phetchabun', 404],
      //      ['Loei', 719],
      //      ['Phrae', 169],
      //      ['Mae Hong Son', 234],
      //      ['Krabi', 429],
      //      ['Bangkok', 173],
      //      ['Kanchanaburi', 417],
      //      ['Kalasin', 579],
      //      ['Kamphaeng Phet', 352],
      //      ['Khon Kaen', 891],
      //      ['Chanthaburi', 112],
      //      ['Chachoengsao', 272],
      //      ['Chonburi', 391],
      //      ['Chai Nat', 472],
      //      ['Chaiyaphum', 1067],
      //      ['Chumphon', 362],
      //      ['Trang', 292],
      //      ['ตราด', 156],
      //      ['Tak', 211],
      //      ['Nakhon Nayok', 89],
      //      ['Nakhon Pathom', 863],
      //      ['Nakhon Phanom', 622],
      //      ['Nakhon Ratchasima', 2427],
      //      ['Nakhon Si Thammarat', 735],
      //      ['Nakhon Sawan', 879],
      //      ['Nonthaburi', 167],
      //      ['Narathiwat', 143],
      //      ['Nan', 154],
      //      ['Bueng Kan', 124],
      //      ['Buriram', 852],
      //      ['Pathum Thani', 144],
      //      ['Prachuap Khiri Khan', 172],
      //      ['Prachinburi', 431],
      //      ['Pattani', 139],
      //      ['Phra Nakhon Si Ayutthaya', 426],
      //      ['Phayao', 229],
      //      ['Phang Nga', 77],
      //      ['Phatthalung', 418],
      //      ['Phichit', 252],
      //      ['Phitsanulok', 759],
      //      ['Phuket', 53],
      //      ['Maha Sarakham', 389],
      //      ['Mukdahan', 156],
      //      ['Yasothon', 591],
      //      ['Yala', 109],
      //      ['Roi Et', 615],
      //      ['Ranong', 68],
      //      ['Rayong', 405],
      //      ['Ratchaburi', 211],
      //      ['Lopburi', 382],
      //      ['Lampang', 487],
      //      ['Lamphun', 154],
      //      ['Sisaket', 1535],
      //      ['Sakon Nakhon', 1668],
      //      ['Songkhla', 317],
      //      ['Satun', 109],
      //      ['Samut Prakan', 126],
      //      ['Samut Songkhram', 54],
      //      ['Samut Sakhon', 208],
      //      ['Sa Kaeo', 99],
      //      ['Saraburi', 347],
      //      ['Sing Buri', 149],
      //      ['Sukhothai (Sukhothai Thani)', 504],
      //      ['Suphan Buri', 311],
      //      ['Surat Thani', 347],
      //      ['Surin', 1533],
      //      ['Nong Khai', 185],
      //      ['Nong Bua Lam Phu', 439],
      //      ['Ang Thong', 141],
      //      ['Amnat Charoen', 569],
      //      ['Udon Thani', 1024],
      //      ['Uttaradit', 227],
      //      ['Uthai Thani', 231],
      //      ['Ubon Ratchathani', 1886]
      //  ]);

      //    var options = {
      //        width: 800,
      //        height:550,
      //        region: 'TH',
      //        resolution: "provinces",
      //        keepAspectRatio: false,
      //        colorAxis: { colors: ['green'] },
      //        legend: 'center'
      //    };

      //  var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
      //      google.visualization.events.addOneTimeListener(chart, 'ready', fixToolTipPosition);
      //      chart.draw(data, options);
      //  }

      //  function fixToolTipPosition() {
      //      var container = $('#regions_div div:last-child ')[0];
 
      //      function setPosition(e) {
      //          var tooltip = $('.google-visualization-tooltip');
      //          var left = mouse.x - tooltip.width()/2;
      //          var top = mouse.y - tooltip.height() - 15;
      //          tooltip.css('left', left + 'px');
      //          tooltip.css('top', top + 'px');
      //      }
 
      //      if (typeof MutationObserver === 'function') {
      //          var observer = new MutationObserver(function (m) {
      //              alert();
      //              setPosition(m);
      //          });
      //          observer.observe(container, {
      //              childList: true
      //          });
      //      } else if (document.addEventListener) {
      //          container.addEventListener('DOMNodeInserted', setPosition);
      //      } else {
      //          container.attachEvent('onDOMNodeInserted', setPosition);
      //      }
      //  }
    </script>

    <!--     slide location     -->
    <script>
        $(document).ready(function () {
            var itemsMainDiv = ('.MultiCarousel');
            var itemsDiv = ('.MultiCarousel-inner');
            var itemWidth = "";

            

            $('.leftLst, .rightLst').click(function () {
                var condition = $(this).hasClass("leftLst");
                if (condition)
                    click(0, this);
                else
                    click(1, this)
            });

            ResCarouselSize();




            $(window).resize(function () {
                ResCarouselSize();
            });

            //this function define the size of the items
            function ResCarouselSize() {
                var incno = 0;
                var dataItems = ("data-items");
                var itemClass = ('.item');
                var id = 0;
                var btnParentSb = '';
                var itemsSplit = '';
                var sampwidth = $(itemsMainDiv).width();
                var bodyWidth = $('body').width();
                $(itemsDiv).each(function () {
                    id = id + 1;
                    var itemNumbers = $(this).find(itemClass).length;
                    btnParentSb = $(this).parent().attr(dataItems);
                    itemsSplit = btnParentSb.split(',');
                    $(this).parent().attr("id", "MultiCarousel" + id);


                    if (bodyWidth >= 1200) {
                        incno = itemsSplit[3];
                        itemWidth = sampwidth / incno;
                    }
                    else if (bodyWidth >= 992) {
                        incno = itemsSplit[2];
                        itemWidth = sampwidth / incno;
                    }
                    else if (bodyWidth >= 768) {
                        incno = itemsSplit[1];
                        itemWidth = sampwidth / incno;
                    }
                    else {
                        incno = itemsSplit[0];
                        itemWidth = sampwidth / incno;
                    }
                    $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                    $(this).find(itemClass).each(function () {
                        $(this).outerWidth(itemWidth);
                    });

                    $(".leftLst").addClass("over");
                    $(".rightLst").removeClass("over");

                });
            }


            //this function used to move the items
            function ResCarousel(e, el, s) {
                var leftBtn = ('.leftLst');
                var rightBtn = ('.rightLst');
                var translateXval = '';
                var divStyle = $(el + ' ' + itemsDiv).css('transform');
                var values = divStyle.match(/-?[\d\.]+/g);
                var xds = Math.abs(values[4]);
                if (e == 0) {
                    translateXval = parseInt(xds) - parseInt(itemWidth * s);
                    $(el + ' ' + rightBtn).removeClass("over");

                    if (translateXval <= itemWidth / 2) {
                        translateXval = 0;
                        $(el + ' ' + leftBtn).addClass("over");
                    }
                }
                else if (e == 1) {
                    var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                    translateXval = parseInt(xds) + parseInt(itemWidth * s);
                    $(el + ' ' + leftBtn).removeClass("over");

                    if (translateXval >= itemsCondition - itemWidth / 2) {
                        translateXval = itemsCondition;
                        $(el + ' ' + rightBtn).addClass("over");
                    }
                }
                $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
            }

            //It is used to get some elements from btn
            function click(ell, ee) {
                var Parent = "#" + $(ee).parent().attr("id");
                var slide = $(Parent).attr("data-slide");
                ResCarousel(ell, Parent, slide);
            }

        });

    </script>


    <script type="text/javascript">
        @*var routeId = @ViewBag.routeId;
        var model = @Html.Raw(Json.Serialize(Model));
        var address = @Html.Raw(Json.Serialize(ViewBag.Address as Address));

        console.log('routeid=', routeId);
        console.log('model=', model);
        console.log('address=', address);*@

        var reportData = [];

        if (typeof jQuery != 'undefined') {  
        // jQuery is loaded => print the version
            console.log("jQuery.fn.jquery", jQuery.fn.jquery);
        }

    </script>

    <script src="~/js/pages/home-index.js"></script>
}



