@model DPEMoveAdmin.ViewModels.AddressDropdownListClass

    <form asp-action="CreateDep" method="post">
        <div class="container">
            <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"><label>หน่วยงาน/ศูนย์กีฬา> สร้าง </label></div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button class="btn btn-success btn-block">บันทึก</button>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">ทั่วไป</a>
                        <a class="nav-item nav-link" id="nav-addr-tab" data-toggle="tab" href="#nav-addr" role="tab" aria-controls="nav-addr" aria-selected="false">ที่อยู่</a>
                        <a class="nav-item nav-link" id="nav-person-tab" data-toggle="tab" href="#nav-person" role="tab" aria-controls="nav-person" aria-selected="false">บุคลากร</a>
                        <a class="nav-item nav-link" id="nav-org-tab" data-toggle="tab" href="#nav-org" role="tab" aria-controls="nav-org" aria-selected="false">Organize Chart</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                        <P class="bg-gradient-light">ข้อมูลทั่วไป</P>
                        <br />
                        <div class="row form-group">
                            <div class="col-md-2 text-right">
                                <label>ชื่อ</label><label>*</label>
                            </div>
                            <div class="col-md-10">
                                <input name="departmentID" type="text" hidden="hidden" />
                                <input name="department1" type="text" class=" w-50 form-control" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 text-right">
                                <label>วิสัยทัศน์</label>
                            </div>
                            <div class="col-md-10">
                                <textarea name="vistion" class="w-50  form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 text-right">
                                <label>พันธกิจ</label>
                            </div>
                            <div class="col-md-10">
                                <textarea name="mission" class="w-50 form-control"></textarea>
                            </div>
                        </div>
                    </div> <!--end tab 1-->
                    <div class="tab-pane" id="nav-addr" role="tabpanel" aria-labelledby="nav-addr-tab">
                        <P class="bg-gradient-light">ที่อยู่</P>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <!--row1-->
                                    <label class="col-md-2 text-right">หมู่บ้าน</label>
                                    <input class="col-md-3 text-left form-control" name="housePropertyName" type="text" />
                                    <label class="col-md-2 text-right">จังหวัด</label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.ProvinceId, ViewBag.ProvinceList as SelectList, "กรุณาเลือก", new { @class = "form-control" })
                                    </div>
                                </div> <!--row-->
                                <div class="form-group row">
                                    <label class="col-md-2 text-right">อาคาร</label>
                                    <input class="col-md-3 text-left form-control" name="buildingName" type="text" />
                                    <label class="col-md-2 text-right">อำเภอ</label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.AmphurId, new SelectList(""), "กรุณาเลือก", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right">เลขที่</label>
                                    <input class="col-md-3 text-left form-control" name="no" type="text" />
                                    <label class="col-md-2 text-right">ตำบล</label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.TambonId, new SelectList(""), "กรุณาเลือก", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right">หมู่</label>
                                    <input class="col-md-3 text-left form-control" name="moo" type="text" />
                                    <label class="col-md-2 text-right">รหัสไปรษณีย์</label>
                                    <input class="col-md-4 text-left form-control" name="postcode" type="text" />


                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right">ซอย</label>
                                    <input class="col-md-3 text-left form-control" name="soi" type="text" />
                                    <label class="col-md-2 text-right">โทรศัพท์</label>
                                    <input class="col-md-4 text-left form-control" name="mobile" type="text" />
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right">ถนน</label>
                                    <input class="col-md-3 text-left form-control" name="road" type="text" />
                                    <labe class="col-md-2 text-right">E-mail</labe>
                                    <input class="col-md-4 text-left form-control" name="email" type="text" />
                                </div>
                            </div> <!--end main col-->
                        </div><!--main row-->
                    </div><!--end tab-->
                    <div class="tab-pane" id="nav-person" role="tabpanel" aria-labelledby="nav-person-tab">
                        <P class="bg-gradient-light">บุคลากร</P>
                    </div>
                    <div class="tab-pane" id="nav-org" role="tabpanel" aria-labelledby="nav-org-tab">
                        <P class="bg-gradient-light"> Oranize Chart</P>
                        <div>still not complete</div>

                    </div> <!--end tab 4-->

                </div> <!--end nav content-->
            </div> <!--end card body-->
        </div> <!--end card-->


        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>
            $(document).ready(function () {
                $("#ProvinceId").change(function () {
                    var provinceId = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: "/SportCenter/GetAmphur?pid=" + provinceId,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#AmphurId").empty();
                            $("#AmphurId").append(response);
                        }
                    })

                })

                $("#AmphurId").change(function () {
                    var amphurId = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: "/SportCenter/GetTambon?aid=" + amphurId,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#TambonId").empty();
                            $("#TambonId").append(response);
                        }
                    })

                })


            })
        </script>
    </form>