@model Event

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        ข้อมูลกิจกรรม > แก้ไข
    </h1>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label class="col-md-3 text-right">รหัสกิจกรรม</label>
                        <input class="col-md-6 form-control" name="EventCode" value="@Model.EventCode" readonly />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">ชื่อกิจกรรม</label>
                        <input class="col-md-6 form-control" name="EventName" value="@Model.EventName" readonly />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">สถานะ</label>
                        <select class="col-md-3 form-control" name="Status" asp-for="@Model.Status">
                            <option value="1">ใช้งาน</option>
                            <option value="2">ไม่ใช้งาน</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3 m-0 p-0 pt-3">
                            <input type="hidden" name="EventId" value="@Model.EventId" />
                            <button type="submit" class="btn btn-success btn-block">ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
