@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/app-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>DPE-Move ระบบ Mobile Application ด้านการพลศึกษา สุขภาพ กีฬา นันทนาการ วิทยาศาสตร์การกีฬา และพัฒนาบุคลากรการกีฬา</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/paper-kit.css?v=2.1.0" rel="stylesheet" />
    @*<link href="~/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/master.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="logo"><img src="~/images/logo.png" width="67" height="104" alt="" /><img src="~/images/icon_app.png" width="99" height="104" alt="" /></div>
                <div class="head_text">
                    <h2>DPE-Move</h2>
                    <span>
                        ระบบ Mobile Application ด้านการพลศึกษา<br>
                        สุขภาพ กีฬา นันทนาการ วิทยาศาสตร์การกีฬา และพัฒนาบุคลากรการกีฬา
                    </span>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 loadapp"><a href="#"><img src="~/images/bt_play.png" width="134" height="44" alt="" /></a><a href="#"><img src="~/images/bt-store.png" width="134" height="44" alt="" /></a></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md bg-nav">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-bar"></span> <span class="navbar-toggler-bar"></span> <span class="navbar-toggler-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" href="/Home">หน้าหลัก</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Events">กิจกรรม</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Stadium">สนามกีฬา/สถานที่ออกกำลังกาย</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/PSN">บุคลากร</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#pk">แบบสำรวจ</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#pk">เกี่ยวกับเรา</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#pk">ติดต่อเรา</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        
        @RenderBody()
        
        @*
        <div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
            <div class="wellcome_sec">
                <div class="container">
                    <div class="wellcome">
                        <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
                    </div>
                </div>
            </div>
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <h2 class="presentation-subtitle text-center">@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">



            </div>
        </div>
        *@



        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h4>ติดต่อกรมพลศึกษา </h4>
                        TEL : 0-2214-0120<br>
                        FAX : 0-2216-4408<br>
                        EMAIL : webmaster@dpe.go.th
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 center">
                        <h2>กรมพลศึกษา </h2>
                        <h5>DEPARTMENT OF PHYSICAL EDUCATION</h5>
                        เลขที่ 154 ถนนพระราม 1 แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330<br>
                        <br>
                        กรมพลศึกษายุคใหม่ มีนโยบายและแนวทางส่งเสริมและพัฒนาการพลศึกษา สุขภาพ การกีฬา นันทนาการ วิทยาศาสตร์การกีฬา และการพัฒนาบุคลากรสาขาที่เกี่ยวข้อง
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h4>สถิติผู้เข้าเยี่ยมชมเว็บไซต์</h4>
                        ทั้งหมด 791,932<br>
                        วันนี้ 1,226<br>
                        เมื่อวาน 4,616<br>
                        เดือนนี้ 40,095<br>
                        เดือนที่แล้ว
                        <hr>

                        <div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form id="formLogout" action="/Account/Logout" method="post">
                                    <img src="~/images/ic_login.png" width="30" height="28" alt="" /><a href="javascript:{}" onclick="document.getElementById('formLogout').submit();">ออกระบบ</a>
                                    @UserManager.GetUserName(User)
                                </form>
                            }
                            else
                            {
                                <img src="~/images/ic_login.png" width="30" height="28" alt="" /><a href="/Account/Login">เข้าสู่ระบบ</a>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-2"></div>
                    <div class="col-sm-12 col-md-9 col-lg-10">
                        <div class="">
                            <img src="~/images/logo_footer.png" width="61" height="85" alt="" />
                            <h5>สงวนลิขสิทธิ์ โดยกรมพลศึกษา</h5>
                            แผนผังเว็บไซต์... | นโยบายเว็บไซต์ | นโยบายคุ้มครองข้อมูลส่วนบุคคล | นโยบายรักษาความมันคงปลอดภัยเว็บไซต์
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core JS Files -->
    <script src="~/assets/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/js/popper.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Switches -->
    <script src="~/assets/js/bootstrap-switch.min.js"></script>

    <!--  Plugins for Slider -->
    <script src="~/assets/js/nouislider.js"></script>

    <!--  Plugins for DateTimePicker -->
    @*<script src="~/assets/js/moment.min.js"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/assets/js/th.js"></script>*@

    <!--  Paper Kit Initialization and functons -->
    <script src="~/assets/js/paper-kit.js?v=2.1.0"></script>
    <script src="~/js/scripts.js"></script>

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            //selector: "textarea",
            mode : "specific_textareas",
            editor_selector : "myTextEditor",
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
    </script>

    <script>
        $(function(){
            var url = window.location.pathname, 
            urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
            // now grab every link from the navigation
            $('.nav-item a').each(function () {
                // and test its normalized href against the url pathname regexp
                if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                    $(this).parent().addClass('active');
                    return false;
                }
            });
        });

    </script>


    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/js/locales/bootstrap-datepicker.th.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
