<div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ติดต่อเรา</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">&nbsp;</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row person-details">
            <div class="col-12 col-lg-4">
                <h3>กรมพลศึกษา</h3>
                <p>
                    เลขที่ 154 ถนนพระราม 1<br />
                    แขวงวังใหม่ เขตปทุมวัน<br />
                    กรุงเทพฯ 10330
                </p>
                <p>
                    โทรศัพท์ : 0 2214 0120<br />
                    โทรสาร : 0 2216 4408<br />
                    อีเมล์ : <a href="mailto:webmaster@dpe.go.th">webmaster@dpe.go.th</a>
                </p>
            </div>
            <div class="col-12 col-lg-8">
                <a href="images/map.png"><img src="images/map.png" /></a>
            </div>
        </div>
    </div>
</div>
