<div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">เกี่ยวกับเรา</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">&nbsp;</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center"><img src="images/aboutus.png" /></p>
                <br />
                <p><strong>กรมพลศึกษา</strong> ได้รับการสถาปนา เมื่อวันที่ 9 ธันวาคม 2476 ให้เป็นกรมหนึ่งในกระทรวงธรรมการตามพระราชบัญญัติการปรับปรุงกระทรวง ทบวง กรม พ.ศ. 2476 โดยมีหน้าที่จัดการพลศึกษาของชาติ ซึ่งตั้งอยู่ในกระทรวงธรรมการ รัฐบาลในสมัยนั้นมีนโยบายที่จะให้บุคคลแม้ว่าได้รับจริยศึกษา และพุทธศึกษามาแล้ว ให้ได้รับการพลศึกษาด้วย ซึ่งจะทำให้เรามีร่างกายแข็งแรง ใจคอหนักแน่น อันจะเป็นประโยชน์ให้แก่ประเทศชาติได้สมบูรณ์เต็มที่</p>
                <p>นับตั้งแต่นั้นเป็นต้นมา พลศึกษาจึงกลายเป็นหลักสำคัญของการศึกษาของชาติจวบจนกระทั่ง เมื่อวันที่ 3 ตุลาคม 2545 ได้มีการปฏิรูประบบราชการไทย มีการปรับปรุงกระทรวง ทบวง กรม โดยให้กรมพลศึกษา กระทรวงศึกษาธิการ เปลี่ยนเป็นสำนักงานพัฒนาการกีฬาและนันทนาการ มีภารกิจเกี่ยวกับการพัฒนากีฬาและนันทนาการ เพื่อเสริมสร้างพลานามัยของประชาชน</p>
                <p>จากกระแสความต้องการของชาวพลศึกษา จึงได้มีการเคลื่อนไหวในการขอใช้ชื่อส่วนราชการ “กรมพลศึกษา” และเมื่อวันที่ 9 และ 16 กุมภาพันธ์ 2553 คณะรัฐมนตรีได้อนุมัติหลักการร่างพระราชกฤษฎีกา การเปลี่ยนชื่อ “สำนักงานพัฒนาการกีฬาและนันทนาการ” เป็น <strong>“กรมพลศึกษา”</strong> ซึ่งชื่อนี้เป็นชื่อที่มีมนต์ขลัง ได้รับความเชื่อถือ และศรัทธา สร้างให้ประชาชนมีร่างกายแข็งแรง จิตใจดี</p>
                <p>และเมื่อวันที่ 27 สิงหาคม พ.ศ. 2553 ได้มีการประกาศพระราชกฤษฎีกา เปลี่ยนชื่อสำนักงานพัฒนาการกีฬาและนันทนาการ เป็น กรมพลศึกษา พุทธศักราช 2553 ในราชกิจจานุเบกษา เล่มที่ 127 ตอนที่ 52 ก หน้า 4 มีผลบังคับใช้ตั้งแต่วันถัดจากวันประกาศในราชกิจจานุเบกษา คือวันที่ 28 สิงหาคม 2553 จึงได้มีชื่อส่วนราชการว่า “กรมพลศึกษา”</p>
                <p>กรมพลศึกษายุคใหม่ <strong>มีนโยบายและแนวทางส่งเสริมและพัฒนาการพลศึกษา สุขภาพ การกีฬา นันทนาการ วิทยาศาสตร์การกีฬา และการพัฒนาบุคลากรสาขาที่เกี่ยวข้อง</strong> โดยมีหน่วยงานในสังกัดกรมพลศึกษา ได้แก่ สำนักงานเลขานุการกรม สำนักการกีฬา สำนักนันทนาการ สำนักวิทยาศาสตร์การกีฬา สถาบันพัฒนาบุคลากรการพลศึกษาและการกีฬา กลุ่มพัฒนาระบบบริหาร กลุ่มตรวจสอบภายใน กลุ่มงานคุ้มครองจริยธรรม และศูนย์ฝึกกรมพลศึกษา สนามกีฬาเฉลิมพระเกียรติฯ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="clip-contain"><div class="vdo-player-contain"><iframe src="https://www.youtube.com/embed/5-k8Vp_oz94?autoplay=0&amp;rel=0" allowfullscreen=""></iframe></div></div>
            </div>
        </div>
    </div>
</div>
