@font-face {
	font-family: 'Conv_Kanit-Regular';
	src: url('fonts/Kanit-Regular.eot');
	src: local('☺'), url('fonts/Kanit-Regular.woff') format('woff'), url('fonts/Kanit-Regular.ttf') format('truetype'), url('fonts/Kanit-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {font-size: 14px;}
body, h1, h2, h3, h4, h5, h6, td, a, button, select {font-family: 'Conv_Kanit-Regular';}

p {margin-bottom: 15px; font-family: 'Conv_Kanit-Regular';}
h2 {margin: 5px 0;}
h3 {margin: 20px 0px;}
a {
    color:
    #4f4f4f;
}
a:hover, a:focus {
    color: #226b50;
    text-decoration: none;
}
hr {
    border-color: #e0e0e0;
}

/*home page*/
.tx_center { text-align: center;}
.tx_left { text-align: left;}
.tx_right { text-align: right;}
.page_home {
    position: relative;
}
.page_home .wellcome_sec { position: absolute; z-index: 9;}
.page_home .full_slide { position: absolute; width:100%; height: 44px;}
.page_home .wellcome_sec {width: 100%; height: auto;}
.page_home .wellcome_sec .container {width: 1140px; margin: 0 auto;}


.page_home .carousel-inner .carousel-item img {
    border-radius: 0;
}
.page_home .card {margin-bottom: 0px;}
.gray { background: #f7f7f7;}
.bg_green { background: #2c8f6a; color: #fff; border-radius: 18px 18px 0 0;}
.tx_green {color : #2c8f6a; padding: 20px 0;}
.con_center {text-align: center;}
.table_map table {background: #fff; border-radius: 20px !important;}
.table_map table td {padding:0;}
.table_map table th {padding: 0.30rem 1.75rem;}
.table_map th, .table_map td { border: 1px solid #f7f7f7; border: none;}
.shadow {
	box-shadow: 0.3rem 0.5rem 1rem rgba(0,0,0,.15) !important;
}


.table_map tr {
    border-bottom: 1px solid #eee;
}
.table_map tr:last-child {
    border-bottom: none;
}
.sec_head { border-top: 4px solid #226b50;}
.sec_head h2 { margin:0; color: #fff;}
.sec_head .wellcome_sec {
    background: url("../images/bg_sec_head.jpg") no-repeat;
}
.sec_head .wellcome {background:#226b50; color:#fff; height: 62px;}
.sec_head .wellcome h2 {
    margin-bottom: 0;
    margin-left: 20px;
    transform: skewX(30deg);
	font-size: 32px;
}
.section_act {padding: 60px 0;}
.activity { background: #fff; border:1px solid #ebebeb; height: 528px;}
.activity::after {content: url(../images/ic_shadow.png); position: absolute; right: -21px; bottom: 13px;}
.head_act { background: #226b50;}
.head_act h5 { color: #fff; padding: 5px 20px; margin: 0;}
.head_act::before { content: url(../images/ic_top_head.png); position: absolute; top: -19px;}
.month_sec { font-size: 25px; color: #d1d1d1; padding: 5px 10px;}
.day_sec { padding: 0 0 14px 0; border-bottom: 1px solid #ebebeb;}
.day_sec .row {margin-right: 0; margin-left: 0;}
.day_left { width: 20%; text-align: center; color: #ababab;}
.day_left h3 { margin: 0;}
.detail_right {width: 75%; color: #ababab;}
.detail_right a {color: #ababab;}
.detail_right a:hover {color: #226b50;}
.readmore { padding: 10px 15px; text-align: right; bottom: 18px;
position: absolute;
right: 20px;}


.news_sec .carousel-inner .carousel-item img {border-radius: 0;}
.news_sec .carousel-caption {right: 0; left: inherit; text-align: left; padding: 20px; background: rgba(44,143,106,0.9); width: 50%; height: 100%; top: 0px;}
.news_sec .carousel-indicators {margin: 0 0 -20px 0;}
.news_sec .carousel-indicators li {background-color: #ccc;}
.news_sec .carousel-indicators .active {background-color: #226b50;}
.news_sec .carousel-item h4 {padding:0 0 15px 0;}
.news_sec .carousel-item p { color: #88ffd3;}
.news_sec .carousel-item a { color: #fff; background: #226b50; padding: 10px 20px ; border-radius: 20px; }
.news_sec .carousel-item a:hover {color: #88ffd3;}
.news_sec .carousel-control.left, .news_sec .carousel-control.right {top :43%;}
.news_sec .carousel-control.left { left: -15px}
.news_sec .carousel-control.right { right: -15px}
.readmore_all {position: absolute; background: #000; z-index: 99; width: 100%; height: auto; bottom: 0; padding: 10px 20px; text-align: right;}
.readmore_all a { color: #fff;}
.readmore_all a:hover { color: #88ffd3;}

.section_location { background: url("../images/bg_dist.jpg") no-repeat center center fixed; padding-bottom: 50px;}
.section_location .sec_head .wellcome_sec { background: url("../images/bg_sec_head.jpg") no-repeat right;}



/*slide location*/

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:5px; margin:5px; background:#f1f1f1; color:#666; border-radius: 5px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius: 5px ;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#eee ; color: #226b50; }
.MultiCarousel-inner img {width: 100%; height: auto; border-radius: 5px;}

.readmore_bt { margin: 40px 0 0 0;}
.readmore_bt a {color:#fff; background:#226b50; padding: 10px 20px; border-radius: 20px;}
.readmore_bt a:hover {color: #88ffd3;}

.bt_survey { background: #f4f4f4; padding: 60px 40px; border-radius: 0 25px 25px 25px; border: 2px solid #5ccb5d; width: 100%; height: 200px; margin: 0 0 20px 0;}
.bt_survey img { margin: 0 10px 0 0; float: left;}


.section_personnel { background: url("../images/bg-tab.jpg") no-repeat center top fixed; padding-bottom: 50px;}
.personnel_header { width: 500px; height: 64px; background: url("../images/bg_header.png") no-repeat center top; margin: 0 auto;}
.personnel_header h1, .personnel_header h2 { color: #fff; padding: 5px 0; margin:0;}

.tab {margin: 50px 0}
.tab .nav-pills .nav-item:first-child .nav-link, .tab .nav-pills .nav-item:last-child .nav-link {
    border-radius: 0  !important;
}
.bg_tab { background: rgba(0,81,75,.85); padding: 0 50px 40px 50px; color: #fff;}
.tab .col-md-3 { padding-right: 3px; padding-left: 0;}
.tab .nav-item { background: #00514b; }
.tab ul li { margin: 0 0 2px 0; font-size: 16px;}
.tab .nav-pills .nav-item .nav-link.active { background: #e3b404; color: #226b50}
.tab .nav-pills .nav-item .nav-link {color: #fff; border: 0;}
.tab .img_w img {width: 100%; height:auto;}




/*end home*/

/*activity*/
.tx-head_green { color: #226b50;}
.tx-head_green h4 { margin:10px 0 0 0;}
.section_s { margin: 20px 0;}
.share { margin: 7px 0 0 0;}
.rateing_box {}
.box_top { padding: 10px; border: 1px solid #eee; border-radius: 5px; margin: 0 0 20px 0;}
.box_right {padding: 20px; border: 1px solid #eee; border-radius: 5px; overflow: hidden;}
.box_right h4 {margin:0 0 5px 0;}
.box_right .map { width: 25%; height: auto; float: left; margin: 0 20px 0 0;}
.box_right_bottom { margin: 10px 0 70px 0;}
.box_right_bottom .service_sec-box { width: 45px; height: 45px;}
.box_right_bottom .service_sec-box img {width: 100%;height: auto; margin: 0 0 5px 0;}
.box_right_bottom .service_sec-box p { font-size: 10px; line-height: 12px;}

.nearby2 { background: #f1f1f1; margin: 0 0 20px 0; padding: 20px; border-radius: 5px; }
.nearby2 h3 { margin: 0 0 10px 15px;}

/*end activity*/

.section {padding: 40px 0;}

.right {text-align: right; margin: 10px 0;}
.center {text-align: center;}

.page-breadcrumbs {}
.page-breadcrumbs h2 { padding: 50px 0; margin: 0;}
.btn-light {color: #3c3c3c !important; background-color:#f1f1f1 !important; border-color:#f1f1f1 !important;}
.btn-light:hover {color: #111 !important; background-color:#f8f9fa !important; border-color:#f8f9fa !important;}
.carousel-control, .carousel-indicators .active {background-color: #226b50;}
.carousel-inner .carousel-item img { height: auto;}

.logo { float: left; margin: 0 5px 0 0;}
.head_text {margin: 5px 0;}
.head_text h2 {margin: 0;}
.bg-nav { background: #edeef0;}
.navbar {box-shadow: none; padding: 0;}
.navbar .navbar-nav .nav-item .nav-link {margin: 0;}
.navbar .navbar-nav .nav-item .nav-link {font-size: 18px;}
[class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) { color: #535353; border: none;}
.navbar .active { background: #256950; transform: skewX(-30deg); }
.navbar .active a {transform: skewX(30deg); color: #fff !important; }
.navbar .navbar-nav .nav-item .nav-link {padding: 10px 20px;}
.wellcome_sec { background: url("../images/bg-well.jpg") no-repeat;}
.wellcome {background: #81c21e; color: #226b50; padding: 10px 0; transform: skewX(-30deg); height: 44px;}
.wellcome p {margin-bottom: 0; margin-left: 20px; transform: skewX(30deg);}

.loadapp { margin: 25px 0 0 0; text-align: right;}
.loadapp img { margin: 0 0 0 5px;}

.page-header {min-height: 182px; max-height: 182px;}
.page-header .content-center {
    margin-top: 0px;
}
.presentation-subtitle {font-size: 2.1em;}
.page-header h2 {margin: 0;}
.carousel-inner .carousel-item img {border-radius: 5px;}
.left_sec { margin:65px 0 0 0;}
.rating_box { width: 55px; height:55px; background: #81c21e; border-radius: 10px 10px 10px 0; color: #fff; text-align: center;}
.stad_detail img { float: left; margin: 0 5px 10px 0;}
.stad_detail ul { padding:0;}
.stad_detail ul li {list-style: none; margin: 0 0 10px 0;}
.con_right { text-align: right; float: right; margin: 0;}
.con_right h3 { margin: 0; line-height: 1.2;}
.con_right p {line-height: 1;}
.absol_right { position:absolute ; right:15px;}

.service_sec-box { width: 74px; height: 74px; margin: 0 10px 0 0; text-align:center;}
.service_sec { margin: 0;}
.service_sec ul li {display: inline;}
.read_detail { width:180px; height: 77px; background: #226b50; color: #fff;}

.progress {
    border-radius: 8px;
    height: 16px;
}


.btn-green {
    background-color: #226b50;
border-color:#226b50;
color:#FFFFFF;
opacity: 1;
}
.clear_sec { clear: both;}
.nearby { background: #f1f1f1; margin: 110px 0 0 0; padding: 20px; border-radius: 5px; }
.nearby h3 { margin: 0 0 10px 15px;}

.rating_sec .comment_sec { background: #f1f1f1; padding: 20px; border-radius: 5px; }
.rating_sec .comment_sec h3 { margin: 0 0 10px 15px !important;}
.comment_box { background: #fff; padding: 20px; border-radius: 5px; position: relative; margin: 0 0 15px 0;}
.comment_box .rating_box { position: absolute; right: 15px; width: 45px; height: 45px;}
.comment_box .rating_box h3 { margin:3px 0 0 !important;}
.profile_comment { float: left; margin: 0 10px 0 0;}
.profile_comment img { width: 50px; height: 50px;}
.sta_s { font-size: 12px; font-weight: 100; color: #a7a7a7;}
.comment_footer { font-size: 12px; color: #a7a7a7;}
.comment_footer .fa {font-size: 16px !important;}
.plus { color: #81c21e !important;}
.downward { color: #b5b5b5 !important;}
.downward_box { background: #fbc658 !important;}

.ic_arrow {text-align: right; margin: -70px 20px 0 0;}
.ic_arrow::after {content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	font-size: 20px;
	}
.fa.fa-angle-down.rotate-icon {
    float: left;
font-size: 30px;
margin: 0 10px 0 0;
}
.rating_sec {}
.rating_sec #toggle-btn {
    width: 100%;
    text-align: left;
	margin: 0 0 20px 0;
}
.rating_sec .btn {line-height: 2.75;}
.rating_head { width: 100%; height: auto; background: #226b50; text-align: center; color: #fff; padding: 10px 0; margin: 15px 0 0 0; border-radius: 10px 10px 0 0;}
.rate_left { float: left;}
.rate_left h2 { padding: 7px 0 0 0;}
.rate_left .rating_box { margin: 0 10px 10px 0;}
#toggle-btn h3 { margin: 5px 0 0 !important;}
.rating_sec h5 { line-height: 1em !important;}
.rating_sec h3 { margin: 20px 0px 0 0;}

.explan h3 { color: #226b50; text-decoration: underline;}


.btn-gray {
    background-color: #f1f1f1; border-color: #f1f1f1; color:#3c3c3c;
}
.btn-gray:hover {background-color: #dddddd; border-color: #f1f1f1; color:#3c3c3c;}

.card-header {border-bottom: none;}
#accordionEx h4, #accordionEx2 h4 {margin: 0;}
.card-body {}
.card-body img { float: left; margin: 0 20px;}
.card-body h4 {/*line-height: 2em;*/ padding: 10px 0 5px 0;}
.flag img { margin: -3px 5px 0 0;}
.send_comment .btn-green { width:300px; font-size: 25px;}
.footer_top { background: #f2f2f2; padding:40px 0;}
.footer_top h4 { margin: 10px 0 20px 0;}
.footer { background: #00433b; padding:30px 0; color: #fff;}
.footer img { float: left; margin: -15px 10px 0 0;}
/**/
img,
object,
embed { max-width: 100%; height: auto; }
object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }
html,
body { overflow-x: hidden !important; }
.breadcrumbs-container { margin-bottom: 10px; }
.button-container { position: absolute; right: 15px; top: 0; text-align: right; }
.button { border-radius: 30px; padding: 8px 50px; }
.button.small { padding: 1px 4px; }
.button.small-long { padding: 1px 30px; }
.button.medium { padding: 6px 22px; }
.btn-lightgreen { background: #65cd11; border-color:#65cd11; }
.button.green { background: #65cd11; color: #ffffff; }
.button.red { background: #fa5360; color: #ffffff; }
.button.darkgreen { background: #007051; color: #ffffff; }
.breadcrumbs { font-size: 18px; color: #147b5e; padding-top: 10px; }
.breadcrumbs a { color: #147b5e; }
.block-border { border: 1px solid #eaeaea; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 25px 15px; }
.search-events { margin-bottom: 20px; }
.search-events .row-button { margin-top: 25px; text-align: center; }
.search-events-result ul { list-style: none; padding: 0; margin: 0; }
.search-events-result li { border: 1px solid #eaeaea; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 6px; padding: 20px 15px; }
.search-events-result a,
.search-events-result a:hover { color: #66615b; }
.event h4 { margin: 0 0 20px; padding: 0; color: #007051; }

.search-person { margin-bottom: 20px; }
.search-person .row-button { margin-top: 25px; text-align: center; }
.search-person-result ul { list-style: none; padding: 0; margin: 0; }
.search-person-result li { border: 1px solid #eaeaea; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 6px; padding: 20px 15px; }
.search-person-result h4 { margin: 0 0 8px; padding: 0; color: #007051; font-weight: bold; }
.search-person-result .training-history { color: #000000; font-weight: bold; margin-bottom: 6px; }
.search-person-result li ol { padding-left: 20px; margin: 0; }
.search-person-result li ol li { border: none; -webkit-border-radius: none; -moz-border-radius: none; -ms-border-radius: none; -o-border-radius: none; border-radius: none; margin: 0; padding: 0; }
.search-person-result .thumb-img { padding-left: 20%; }
.search-person .col-advsearch { display: inline-block; margin-left: 25px; }
.search-person-result .col-traininghistory { float: left; }
.search-person-result .col-th-btn { float: right; padding-top: 13px; }

.person-details { margin-bottom: 30px; }
.person-details h4 { margin: 0 0 8px; padding: 0; color: #007051; font-weight: bold; }
.person-details .thumb-img { padding-left: 30px; }
.person-details p { padding: 0; margin: 0 0 5px; }
.read-comment { margin-top: 30px; }
.input-field { border: 1px solid #cdcdcd; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.row-field { margin: 0 -4px 8px; }
.row-field .c { float: left; padding: 0 4px; width:50%; position: relative; }
.row-field .lbl { text-align: right; padding-top: 2px; }
.rating .checked { color: #f9ff00; }
.event-manipulate { margin-top: 20px; }
.event-manipulate .tabs { padding: 0 15px 0 45px; font-size: 0; }
.event-manipulate .tab { font-size: 16px; cursor: pointer; border-left: 1px solid #cdcdcd; border-top: 1px solid #cdcdcd; margin: 0; padding: 10px 15px; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; display: inline-block; }
.event-manipulate .tab:last-child { border-right: 1px solid #e6e6e6; }
.event-manipulate .tab:hover,
.event-manipulate .tab.active { color: #147b5e; }

.survey-manipulate .tabs { float: left; width: 25%; }
.survey-manipulate .tab_content { float: left; width: 75%; padding-left: 45px; }
.survey-manipulate .tab { margin: 0 0 9px; padding: 0 8px 10px; display: block; border-bottom: 1px solid #eaeaea; cursor: pointer; }
.survey-manipulate .tab:hover,
.survey-manipulate .tab.active { color: #147b5e; }
.survey-manipulate .block-group { border: 1px solid #cdcdcd; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; margin-bottom: 6px; }
.survey-manipulate .block-group .heading { position: relative; background: #f5f5f5; border-bottom: 1px solid #cdcdcd; padding: 10px 15px; color: #000000; }
.survey-manipulate .block-group .heading span { font-weight: normal; margin-left: 50px; }
.survey-manipulate .block-group .heading .button-container { position: absolute; right: 15px; top: 10px; text-align: right; }
.survey-manipulate .block-group .entry-data { padding: 20px 35px; }

.event-manipulate .block-group { border: 1px solid #cdcdcd; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; margin-bottom: 6px; }
.event-manipulate .block-group .heading { position: relative; background: #f5f5f5; border-bottom: 1px solid #cdcdcd; padding: 10px 15px; color: #000000; }
.event-manipulate .block-group .heading span { font-weight: normal; margin-left: 50px; }
.event-manipulate .block-group .heading .button-container { position: absolute; right: 15px; top: 10px; text-align: right; }
.event-manipulate .block-group .entry-data { padding: 20px 35px; }
span.req { color: #ff0000; }
.tbl-data { border-collapse: collapse; }
.tbl-data th { padding: 0 4px 2px; border-bottom: 1px solid #cdcdcd; text-align: left; }
.tbl-data td { padding: 3px 4px; }
.tbl-data .amount { width: 10%; max-width: 100px; }
.tbl-data .unit { width: 15%; max-width: 150px; }
.tbl-data .manage { width: 10%; max-width: 100px; text-align: center; }
.tbl-data .center { text-align: center; }
.x { position: absolute; width: 100%; height: 100%; }
.x .y { display: table; width: 100%; height: 100%; }
.x .y .z { display: table-cell; vertical-align: middle; }
.section.no-top { padding-top: 0; }
.tx-head_green h4 a { color: #226b50; }
.modal-header { border-radius: 6px 6px 0 0; background: #007051; border-bottom: 0; padding: 10px 20px; text-align: left; color: #ffffff; }
.modal-content { border: 2px solid #007051; }
.modal-header button.close { margin-top: 0; margin-right: -5px; color: #007051; text-shadow: none; opacity: 1.0; font-size: 14px; font-weight: normal; background: #ffffff; border-radius: 50%; padding: 5px; cursor: pointer; }
.modal-body { padding-left: 45px; padding-right: 45px; }
.button:focus,
button:focus { outline: none; }
.modal-body h4 { margin: 0 0 8px; padding: 0; color: #007051; font-weight: bold; }
.tbl-fields { width: 100%; }
.tbl-fields th { font-weight: normal; }
.width-100 { width: 100%; }
.tbl-fields .v-top { vertical-align: top; }
.tbl-fields th,
.tbl-fields td { padding-top: 8px; padding-bottom: 8px; }
.tbl-fields th { padding-right: 8px; }
.tbl-fields textarea { height: 90px; }
.tbl-fields textarea,
.tbl-fields input[type=text],
.tbl-fields input[type=tel],
.tbl-fields input[type=number],
.tbl-fields input[type=email] { border: 1px solid #e6e6e6; border-radius: 6px; }
.tbl-fields.th-aright th { text-align: right; }
.field-houseno,
.field-moo { width: 30%; }
.field-soi,
.field-road { width: 90%; }
.btn-facebook,
.btn-facebook:hover { color: #ffffff !important; background: #3c539a !important; }
.button { border: none; cursor: pointer; transition: transition: all 0.5s ease-out; }
.button:hover { opacity: 0.9; }
.form-group.row { align-items: center; }
/**/

@media screen and (max-width: 480px) {
	.head_text h2 {font-size: 26px; margin: 35px 0 0 0;}
	.head_text span { display: none;}
	.page_home .wellcome_sec {margin-top: -40px;}
	.page_home .card {margin-top: 40px;}
	.readmore {bottom: 0;}
	.left_sec { margin: 0;}
    .loadapp { margin: 5px 0 10px 0;text-align: center !important;}
	.wellcome p {font-size: 13px;}
	.stad_detail ul li { clear: both;}
	.row.head_slid {text-align: center;}
	.row.head_slid h2 {margin: 15px 0;}
	.con_right {margin: 10px 0;}
	.absol_right {margin: 124px 0 0 0;}
	.service_sec-box {height: 124px; margin: 0 8px 0 0;}
	.absol_right .btn {padding: 0.5rem 10px}
	.center { text-align: left;}
	.bt_survey {padding: 30px 40px;}
	.news_sec { margin: 0 0 70px 0;}
	.personnel_header {width: 100%;}
	.share { text-align: right;}
	.box_right_bottom .service_sec-box {margin: 0 5px 0 0;}
	.box_right_bottom .absol_right {position: inherit; margin: 40px 0 0 0;}
	/**/
	.search-person .col-advsearch { display: block; margin-left: 0; margin-top: 8px; }
	/**/
}
/**/
@media screen and (max-width: 575px) {
	/*
	.tbl-fields input[type=text],
	.tbl-fields input[type=tel],
	.tbl-fields input[type=email] { width: 100%; }
	*/
	.search-person-result .thumb-img { padding-left: 0; text-align: center; margin-bottom: 8px; }
	.search-person-result .col-traininghistory { float: none; }
	.search-person-result .col-th-btn { float: none; padding-top: 30px; margin-bottom: 10px; text-align: center; }

}
@media screen and (max-width: 767px) {
	.event-thumb { margin-bottom: 10px; }
	.breadcrumbs { font-size: 13px; padding-top: 0; }
	.breadcrumbs-container .button-container { position: initial; right: initial; top: initial; text-align: center; margin: 20px 0; }
	.event-manipulate .tab { font-size: 11px; padding-left: 0; padding-right: 0; }
	.person-details { text-align: center; }
	.person-details .x { top: initial; left: 0; position: initial; display: block; margin-top: 8px; }
	/**/
	.img-center-mobile { text-align: center; margin-bottom: 10px; }
	/**/
}
/**/
@media screen and (max-width: 991px) {
	.stad_detail ul li { clear: both;}
	.loadapp {margin: 10px 0 0 0;}
	.loadapp img {margin: 0 0 5px 5px !important;}
	.news_sec { margin: 0 0 70px 0;}
	.sec_head .wellcome {margin: -1px 0 0 0;}
	.navbar[class*="bg-"] .navbar-toggler .navbar-toggler-bar, .navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {background: #226b50;}
	.head_text span { font-size: 10px;}
	.navbar .active { transform: skewX(0deg);}
	.navbar .active a {transform: skewX(0deg); }
	.navbar-collapse::after {background: #fff;}
	.readmore {position: inherit;}
	.activity {height: auto;}
	.activity::after {bottom: -6px;}
	/**/
	.event-manipulate .tabs { padding-left: 5px; padding-right: 5px; }
	.event-manipulate .tab { padding-left: 10px; padding-right: 10px; }
	.person-details .x { top: -24px; left: 35%; }
	.td-id select { margin-bottom: 5px; }
	.tbl-fields th,
	.tbl-fields td { display: block; padding-top: 10px; padding-bottom: 0; }
	.tbl-fields td { padding-top: 0; }
	.tbl-fields.th-aright th { text-align: left; }
	/*
	.tbl-fields input[type=text],
	.tbl-fields input[type=tel],
	.tbl-fields input[type=email] { width: 100%; }
	*/
	.field-houseno,
	.field-moo,
	.field-soi,
	.field-road { width: 96%; }
	/**/
}



@media screen and (max-width: 1530px) and (min-width: 769px) {
	.sec_head .wellcome_sec {background: url("../images/bg_sec_head.jpg") no-repeat -150px top;}
	.section_location .sec_head .wellcome_sec { background: url("../images/bg_sec_head.jpg") no-repeat 120% top;}

}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.navbar .navbar-nav .nav-item .nav-link {padding: 10px 15px;}
	.sec_head .wellcome h2 {font-size: 28px;}
	.sec_head .wellcome_sec {background: url("../images/bg_sec_head.jpg") no-repeat -300px top ;}
	.section_location .sec_head .wellcome_sec { background: url("../images/bg_sec_head.jpg") no-repeat 160% top;}



}
