
    <div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
        <div class="wellcome_sec">
            <div class="container">
                <div class="wellcome">
                    <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
                </div>
            </div>
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <h2 class="presentation-subtitle text-center">แบบสำรวจ</h2>
            </div>
        </div>
    </div>
    <div class="section_s">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="tx-head_green">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="row con_right">
                        <div class="col">
                            <button id="btnSubmit" type="button" class="btn btn-lightgreen btn-round">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-survey no-top">
        <div class="container">
            <div class="row person-details txt-bigger">
                <div class="col-12">
                    <div class="text-center">
                        <h3 style="margin-bottom:6px;">แบบสารวจการออกกาลังกาย หรือเล่นกีฬาของประชาชน</h3>
                        <h5>ประจำปีงบประมาณ พ.ศ. 2563</h5>
                    </div>
                    <br />
                    <div>
                        <h5><u>คำชี้แจง</u></h5>
                        <p>แบบสำรวจการออกกำลังกาย หรือเล่นกีฬาของประชาชน ประจำปีงบประมาณ พ.ศ. 2563 จัดทำขึ้นโดยกรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา เพื่อเก็บข้อมูลการออกกำลังกาย หรือเล่นกีฬาของประชาชนประจำปีงบประมาณ พ.ศ. 2563 สำหรับนำไปปรับปรุงการดำเนินงาน ทั้งนี้กรมพลศึกษาจะนำข้อมูลที่ได้มาประมวลผล โดยทุกคำตอบของท่านจะได้รับการเก็บรักษาเป็นความลับ และจะไม่มีผลกระทบใดๆ ต่อตัวท่านเพราะข้อมูลถูกนำมาใช้ในการวิเคราะห์เพื่อนำไปเป็นข้อมูลในการส่งเสริมด้านการออกกำลังกายและเล่นกีฬาของคนไทยในภาพรวมต่อไป</p>
                        <br />
                        <p>โปรดทำเครื่องหมาย <i class="fa fa-check-square"></i> ลงในช่องที่ตรงกับความเป็นจริงมากที่สุด</p>
                        <h5><u>กรุณาตอบให้ครบทุกข้อ</u></h5>
                    </div>
                </div>
            </div>
            <div class="row survey-manipulate txt-bigger skin-square">
                <div class="col-12">
                    <div class="tabs">
                        <span class="tab">ตอนที่ 1 ข้อมูลที่อยู่อาศัย:พนักงานเก็บข้อมูลทำการบันทึกข้อมูล</span>
                        <span class="tab">ตอนที่ 2 ลักษณะทั่วไปของสมาชิกในครัวเรือนที่มีอายุตั้งแต่ 15 ปีข้ึนไป</span>
                        <span class="tab">ตอนที่ 3 การออกกำลังกาย และการเล่นกีฬา</span>
                        <span class="tab">ตอนที่ 4 ความคิดเห็น/ข้อเสนอแนะ</span>
                    </div>
                    <div class="tab_content">
                        <div class="tab_item">
                            <form id="frmSurveyCreate_1">
                                <div class="block-group">
                                    <div class="entry-data">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">บ้านเลขที่*</th>
                                                        <td><input type="text" name="AnswerValue_1" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">หมู่บ้าน*</th>
                                                        <td><input type="text" name="AnswerValue_2" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ถนน*</th>
                                                        <td><input type="text" name="AnswerValue_3" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ตรอก/ซอย*</th>
                                                        <td><input type="text" name="AnswerValue_4" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">รหัสไปรษณีย์*</th>
                                                        <td><input type="text" name="AnswerValue_5" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="50%">ผู้ให้ทำการติดต่อเพื่อการตรวจสอบข้อมูล (QC)*</th>
                                                        <td><input type="text" name="AnswerValue_6" class="input-field" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="50%">เบอร์โทร*</th>
                                                        <td><input type="tel" name="AnswerValue_7" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="AnswerValue_8" value="1" required /> 1. ในเขตเทศบาล&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="AnswerValue_8" value="2" /> 2. นอกเขตเทศบาล
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">จังหวัด*</th>
                                                        <td>
                                                            <select class="c-dropdown" id="ddlProvince" name="AnswerValue_10" required style="width:80%">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0" style="display:none;">
                                                    <tr>
                                                        <th width="140">ภาค</th>
                                                        <td>
                                                            <select class="c-dropdown" name="AnswerValue_9">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">อำเภอ/เขต*</th>
                                                        <td>
                                                            <select class="c-dropdown" id="ddlAmphur" name="AnswerValue_11" required style="width:80%">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ตำบล/แขวง*</th>
                                                        <td>
                                                            <select class="c-dropdown" id="ddlTambon" name="AnswerValue_12" required style="width:80%">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ลำดับ EA*</th>
                                                        <td><input type="text" name="AnswerValue_13" required class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ลำดับที่ครัวเรือน*</th>
                                                        <td><input type="text" name="AnswerValue_14" required class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            ผลการแจงนับครัวเรือน*
                                                            <input type="radio" name="AnswerValue_15" required value="1" /> 1. แจงนับครัวเรือนได้&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="AnswerValue_15" value="2" /> 2. แจงนับครัวเรือนไม่ได้
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <td>จำนวนสมาชิกที่มีอายุตั้งแต่ 15 ปีขึ้นไปทั้งสิ้นในครัวเรือน จำนวน*  <input type="text" name="AnswerValue_16" required class="input-field" /> คน</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="entry-data">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">ชื่อพนักงานสัมภาษณ์*</th>
                                                        <td><input type="text" name="AnswerValue_17" required class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="140">เบอร์โทรศัพท์*</th>
                                                        <td><input type="tel" name="AnswerValue_18" required /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-right"><a href="javascript:void(0);" class="change-tab to-1">ตอนที่ 2 >></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab_item">
                            <form id="frmSurveyCreate_2">
                                <p>ข้อ 1 - 14 โปรดระบุ ชื่อ - นามสกุล และข้อมูลส่วนตัว (ความเกี่ยวพันกับหัวหน้าครัวเรือน เพศ อายุ ศาสนา สัญชาติ ระดับการศึกษา สถานภาพ การมีโรคประจาตัว อาชีพ น้ำหนัก ส่วนสูง รายได้ส่วนตัวต่อเดือน รายได้ครอบครัวต่อเดือน)</p>
                                <div class="block-group">
                                    <div class="heading"><label>1. ลำดับที่</label><input type="text" name="AnswerValue_19" value="" class="input-field" /></div>
                                </div>
                                <div class="block-group">
                                    <div class="heading"><label>2. ชื่อ-นามสกุล</label><input type="text" name="AnswerValue_20" value="" class="input-field" required /></div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">3. ความเกี่ยวพันกับหัวหน้าครัวเรือน</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_21" value="1" /> 1. หัวหน้าเครือเรือน</td>
                                                <td><input type="radio" name="AnswerValue_21" value="2" /> 2. ภรรยาหรือสามี</td>
                                                <td><input type="radio" name="AnswerValue_21" value="3" /> 3. บุตรที่ยังไม่สมรส</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_21" value="4" /> 4. บุตรที่สมรสแล้ว</td>
                                                <td><input type="radio" name="AnswerValue_21" value="5" /> 5. บุตรเขย บุตรสะใภ้</td>
                                                <td><input type="radio" name="AnswerValue_21" value="6" /> 6. บุตรของบุตร</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_21" value="7" /> 7. พ่อ แม่/พ่อ แม่ของคู่สมรส</td>
                                                <td><input type="radio" name="AnswerValue_21" value="8" /> 8. ญาติอื่นๆ</td>
                                                <td><input type="radio" name="AnswerValue_21" value="9" /> 9. ผู้อาศัยหรือคนรับใช้</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading"><label>4. เพศ</label><input type="radio" name="AnswerValue_22" value="1" /> ชาย&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="AnswerValue_22" value="2" /> หญิง</div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">5. อายุ</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td width="150">โปรดระบุอายุ</td>
                                                <td><input type="text" name="AnswerValue_23" value="" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">6. ศาสนา</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_24" value="1" /> 1. พุทธ</td>
                                                <td><input type="radio" name="AnswerValue_24" value="2" /> 2. อิสลาม</td>
                                                <td><input type="radio" name="AnswerValue_24" value="3" /> 3. คริสต์</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_24" value="4" /> 4. พราหมณ์ - ฮินดู</td>
                                                <td><input type="radio" name="AnswerValue_24" value="5" /> 5. ซิกซ์</td>
                                                <td><input type="radio" name="AnswerValue_24" value="6" /> 6. ไม่นับถือศาสนาใดๆ</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><input type="radio" name="AnswerValue_24" value="7" /> 7. อื่นๆ ระบุ <input type="text" name="AnswerValue_24_txt" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">7. สัญชาติ</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_25" value="1" /> 1. ไทย</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_25" value="2" /> 2. อื่นๆ ระบุ <input type="text" name="AnswerValue_25_txt" class="input-field" /></td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_25" value="3" /> 3. ไม่มีสัญชาติ</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">8. ระดับการศึกษา</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_26" value="1" /> 1. ไม่เคยเรียน</td>
                                                <td><input type="radio" name="AnswerValue_26" value="2" /> 2. ก่อนประถมศึกษา</td>
                                                <td><input type="radio" name="AnswerValue_26" value="3" /> 3. ประถมศึกษา</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_26" value="4" /> 4. มัธยมศึกษาตอนต้น</td>
                                                <td><input type="radio" name="AnswerValue_26" value="5" /> 5. มัธยมศึกษาตอนปลาย สายสามัญ</td>
                                                <td><input type="radio" name="AnswerValue_26" value="6" /> 6. มัธยมศึกษาตอนปลาย สายอาชีพ</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_26" value="7" /> 7. ปวส./ปวท./อนุปริญญา</td>
                                                <td><input type="radio" name="AnswerValue_26" value="8" /> 8. ปริญญาตรี</td>
                                                <td><input type="radio" name="AnswerValue_26" value="9" /> 9. สูงกว่าปริญญาตรี</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><input type="radio" name="AnswerValue_26" value="10" /> 10. อื่นๆ (ได้แก่ หลักสูตรระยะสั้น เช่น ตัดผม ตัดเสื้อ ซ่อมเครื่องใช้ไฟฟ้า เป็นต้น)<br />ระบุ <input type="text" name="AnswerValue_26_txt" value="" class="input-field" /></td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_26" value="11" /> 11. จำไม่ได้/ไม่ทราบ</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">9. สถานภาพ</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_27" value="1" /> 1. โสด</td>
                                                <td><input type="radio" name="AnswerValue_27" value="2" /> 2. สมรส</td>
                                                <td><input type="radio" name="AnswerValue_27" value="3" /> 3. หม้าย</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_27" value="4" /> 4. หย่า</td>
                                                <td><input type="radio" name="AnswerValue_27" value="5" /> 5. แยกกันอยู่</td>
                                                <td><input type="radio" name="AnswerValue_27" value="6" /> 6. อื่นๆ ระบุ <input type="text" name="AnswerValue_27_txt" value="" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">10. การมีโรคประจำตัว</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_28" value="1" /> 1.มี ระบุ <input type="text" name="AnswerValue_28_txt" value="" class="input-field" /></td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_28" value="2" /> 2.โรค NCDs (โรคเบาหวาน โรคความดันโลหิตสูง โรคหลอดเลือดสมองและหัวใจ เป็นต้น)</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_28" value="3" /> 3.ไม่มี</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">11. อาชีพ</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_29" value="1" /> 1.รับราชการ/ เจ้าหน้าที่ของรัฐ</td>
                                                <td><input type="radio" name="AnswerValue_29" value="2" /> 2.รัฐวิสาหกิจ</td>
                                                <td><input type="radio" name="AnswerValue_29" value="3" /> 3.พนักงานบริษัท/ ห้างร้าน</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_29" value="4" /> 4.ประกอบธุรกิจส่วนตัว</td>
                                                <td><input type="radio" name="AnswerValue_29" value="5" /> 5.รับจ้างทั่วไป</td>
                                                <td><input type="radio" name="AnswerValue_29" value="6" /> 6.แม่บ้าน/พ่อบ้าน</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_29" value="7" /> 7.ทำการเกษตร</td>
                                                <td><input type="radio" name="AnswerValue_29" value="8" /> 8.นักเรียน/นักศึกษา</td>
                                                <td><input type="radio" name="AnswerValue_29" value="9" /> 9.ไม่มีอาชีพ</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_29" value="10" /> 10.ไม่ทราบ</td>
                                                <td colspan="2"><input type="radio" name="AnswerValue_29" value="11" /> 11.อื่น ๆ ระบุ <input type="text" name="AnswerValue_29_txt" value="" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">12. น้ำหนัก/ส่วนสูง</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td>น้ำหนัก</td>
                                                <td><input type="text" name="AnswerValue_30" value="" class="input-field" /> กก.</td>
                                                <td>ส่วนสูง</td>
                                                <td><input type="text" name="AnswerValue_31" value="" class="input-field" /> ซม.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">13. รายได้ส่วนตัว (กรณีนักเรียน/นักศึกษาที่ไม่มีรายได้ให้ระบุจำนวนเงินที่ได้รับต่อเดือนจากผู้ปกครอง)</div>
                                    <div class="entry-data">
                                        <p>ระบุจำนวนเงินที่ได้รับต่อเดือน (บาท)</p>
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="1" /> ไม่เกิน 5,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="2" /> 5,001-15,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="3" /> 15,001-30,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="4" /> 30,001-50,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="5" /> 50,001-70,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="6" /> 70,001-90,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="7" /> มากกว่า 90,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_32" value="8" /> ไม่ทราบ</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">14. รายได้ของครัวเรือน (เฉลี่ยต่อเดือน)</div>
                                    <div class="entry-data">
                                        <p>ระบุรายได้ต่อเดือน (บาท)</p>
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="1" /> ไม่เกิน 15,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="2" /> 15,001-30,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="3" /> 30,001-50,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="4" /> 50,001-70,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="5" /> 70,001-90,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="6" /> มากกว่า 90,000</td>
                                            </tr>
                                            <tr>
                                                <td><input type="radio" name="AnswerValue_33" value="7" /> ไม่ทราบ</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p><a href="javascript:void(0);" class="change-tab to-0"><< ตอนที่ 1</a></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right"><a href="javascript:void(0);" class="change-tab to-2">ตอนที่ 3 >></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab_item">
                            <form id="frmSurveyCreate_3">
                                <div class="block-group">
                                    <div class="heading">ข้อ 15.1 โดยปกติคุณออกกาลังกายหรือเล่นกีฬาหรือไม่</div>
                                    <div class="entry-data for-table">
                                        <table class="tbl-ex th-no-bg" cellspacing="0">
                                            <tr>
                                                <th class="a">ก. ประเภทการออกกำลังกาย/เล่นกีฬา (รวมทั้งการออกกำลังกายในการประกอบอาชีพและการออกกำลังกายในชีวิตประจำวัน)</th>
                                                <th class="b">ข. ระดับของกิจกรรม (ความหนัก)**</th>
                                                <th class="c">ค. เวลาที่ออกกำลังกายหรือเล่นกีฬาต่อวัน (นาที)</th>
                                                <th class="d">ง. จำนวนวันที่ออกกำลังกายหรือเล่นกีฬาต่อสัปดาห์</th>
                                            </tr>
                                            <tr id="tr_15_1_1">
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 1. <select id="ddlSportType_1" name="AnswerValue_34" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b">
                                                    <input type="radio" name="AnswerValue_35" value="1" /> 1. ระดับปานกลาง<br />
                                                    <input type="radio" name="AnswerValue_35" value="2" /> 2. ระดับหนัก
                                                </td>
                                                <td class="c"><input type="text" name="AnswerValue_36" class="input-field" /> นาที</td>
                                                <td class="d"><input type="text" name="AnswerValue_37" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr id="tr_15_1_2">
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 2.
                                                    <select id="ddlSportType_2" name="AnswerValue_38" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b">
                                                    <input type="radio" name="AnswerValue_39" value="" /> 1. ระดับปานกลาง<br />
                                                    <input type="radio" name="AnswerValue_39" value="" /> 2. ระดับหนัก
                                                </td>
                                                <td class="c"><input type="text" name="AnswerValue_40" class="input-field" /> นาที</td>
                                                <td class="d"><input type="text" name="AnswerValue_41" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr id="tr_15_1_3">
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 3.
                                                    <select id="ddlSportType_3" name="AnswerValue_42" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b">
                                                    <input type="radio" name="AnswerValue_43" value="" /> 1. ระดับปานกลาง<br />
                                                    <input type="radio" name="AnswerValue_43" value="" /> 2. ระดับหนัก
                                                </td>
                                                <td class="c"><input type="text" name="AnswerValue_44" class="input-field" /> นาที</td>
                                                <td class="d"><input type="text" name="AnswerValue_45" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr id="tr_15_1_4">
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 4.
                                                    <select id="ddlSportType_4" name="AnswerValue_46" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b">
                                                    <input type="radio" name="AnswerValue_47" value="1" /> 1. ระดับปานกลาง<br />
                                                    <input type="radio" name="AnswerValue_47" value="2" /> 2. ระดับหนัก
                                                </td>
                                                <td class="c"><input type="text" name="AnswerValue_48" class="input-field" /> นาที</td>
                                                <td class="d"><input type="text" name="AnswerValue_49" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr id="tr_15_1_5">
                                                <td><label id="lblAnswerValue_50"><input type="checkbox" name="AnswerValue_50" value="1" /> 5. ไม่มีการออกกำลังกาย</label></td>
                                                <td colspan="3" class="text-center">ข้ามไปตอบข้อ 15.5</td>
                                            </tr>
                                        </table>
                                        <div class="info">
                                            <h6>หมายเหตุ</h6>
                                            ** คำอธิบายระดับความหนักของกิจกรรม
                                            <p>
                                                <strong>1. <u>ระดับปานกลาง</u></strong> คือ การหายใจเร็วขึ้นจากปกติ ไม่ถึงกับหอบ ติดต่อกันเป็นระยะเวลา อย่างน้อย 10
                                                นาที เช่น การเดินเร็ว ถีบจักรยาน ว่ายน้า เป็นต้น
                                            </p>
                                            <p>
                                                <strong>2. <u>ระดับหนัก</u></strong> คือ การหายใจแรงและเร็วกว่าปกติมาก หรือหอบติดต่อกันเป็นระยะเวลาอย่างน้อย 10
                                                นาที เช่น วิ่งกระโดดเชือก เล่นบาสเกตบอล หรือเล่นฟุตบอล เป็นต้น
                                            </p>
                                            <h6>คำอธิบาย</h6>
                                            <p>
                                                <u>การออกกำลังกาย</u> หมายถึง การกระทำใดๆ ที่มีการเคลื่อนไหวส่วนต่างๆ ของร่างกายเพ่ือสุขภาพ เพื่อความ
                                                สนุกสนาน และเพื่อสังคม รวมทั้งการออกกำลังกายในการประกอบอาชีพ และการออกกำลังกายในชีวิตประจำวัน
                                            </p>
                                            <p><u>การเล่นกีฬา</u> หมายถึง การออกกำลังกายโดยใช้ทักษะกีฬาพื้นฐาน และมีวัตถุประสงค์เพื่อสร้างเสริมสุขภาพ ความสนุกสนานเพื่อสังคม เพ่ือการแข่งขัน <em>(การเล่นกีฬาเป็นส่วนหนึ่งของการออกกำลังกาย)</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="sep small"></div>
                                <p>ข้อ 15.2 - 15.4 การออกกำลังกายหรือการเล่นกีฬา คุณมักออกกำลังหรือเล่นกีฬาท่ีใด เวลาใด และบ่อยคร้ังเพียงใด</p>
                                <div class="block-group" id="dv_15_2">
                                    <div class="heading">15.2 สถานที่ใดที่คุณมักออกกำลังกายหรือเล่นกีฬา (ตอบได้มากกว่า 1 สถานที่)</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_1" value="1" /> 1. บ้าน/บริเวณที่พักอาศัย</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_2" value="2" /> 2. ที่ทำงาน</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_3" value="3" /> 3. สวนสาธารณะ</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_4" value="4" /> 4. สนามกีฬาประจำตำบล/อำเภอ/จังหวัด</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_5" value="5" /> 5. ลานออกกำลังกาย/เล่นกีฬา</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_6" value="6" /> 6. ฟิตเนสหรือยิม</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_51_7" value="7" /> 7. โรงเรียน/สถานศึกษา</label></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><label><input type="checkbox" name="AnswerValue_51_8" value="8" /> 8. อื่นๆ ระบุ </label><input type="text" name="AnswerValue_51_8_txt" value="" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group" id="dv_15_3">
                                    <div class="heading">15.3 เวลาในการออกกำลังกาย/เล่นกีฬา (ตอบได้มากกว่า 1 คาตอบ)</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_1" value="1" /> 00.00 – 01.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_2" value="2" /> 01.00 – 02.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_3" value="3" /> 02.00 – 03.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_4" value="4" /> 03.00 – 04.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_5" value="5" /> 04.00 – 05.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_6" value="6" /> 05.00 – 06.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_7" value="7" /> 06.00 – 07.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_8" value="8" /> 07.00 – 08.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_9" value="9" /> 08.00 – 09.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_10" value="10" /> 09.00 – 10.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_11" value="11" /> 10.00 – 11.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_12" value="12" /> 11.00 – 12.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_13" value="13" /> 12.00 – 13.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_14" value="14" /> 13.00 – 14.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_15" value="15" /> 14.00 – 15.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_16" value="16" /> 15.00 – 16.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_17" value="17" /> 16.00 – 17.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_18" value="18" /> 17.00 – 18.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_19" value="19" /> 18.00 – 19.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_20" value="20" /> 19.00 – 20.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_21" value="21" /> 20.00 – 21.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_22" value="22" /> 21.00 – 22.00 น.</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_52_23" value="23" /> 22.00 – 23.00 น.</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_52_24" value="24" /> 23.00 – 24.00 น.</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group" id="dv_15_4">
                                    <div class="heading">ข้อ 15.4 เพราะเหตุผลใดคุณจึงออกกำลังกายหรือเล่นกีฬา (ตอบได้มากกว่า 1 ข้อ)</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_1" value="1" /> 1. ต้องการให้ร่างกายแข็งแรง</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_2" value="2" /> 2. เป็นงานต้องทา/เป็นอาชีพ</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_3" value="3" /> 3. ทำกิจกรรมร่วมกับเพื่อน/เพื่อนชวน</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_4" value="4" /> 4. รักษา/บรรเทาอาการเจ็บป่วย</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_5" value="5" /> 5. ใช้เวลาว่างให้เป็น ประโยชน์</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_6" value="6" /> 6. ต้องการรูปร่างที่ดี/หุ่นดี</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_7" value="7" /> 7. กาลังเป็นที่นิยม/ตามกระแสนิยม</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_8" value="8" /> 8. ควบคุมน่ำหนัก/ลดน้ำหนัก</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_9" value="9" /> 9. คลายเครียด/พักผ่อน</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_10" value="10" /> 10. ชอบในกีฬานั้นๆ</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_53_11" value="11" /> 11. ชอบออกกำลังกาย</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_53_12" value="12" /> 12. อื่นๆ ระบุ </label><input type="text" name="AnswerValue_53_12_txt" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group" id="dv_15_5">
                                    <div class="heading">ข้อ 15.5 เพราะเหตุใดคุณจึงไม่ออกกำลังกายหรือเล่นกีฬา (ตอบได้มากกว่า 1 ข้อ) (ถามเฉพาะผู้ที่ไม่ออกกำลังกาย)</div>
                                    <div class="entry-data">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_54_1" value="1" /> 1. ขี้เกียจ</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_54_2" value="2" /> 2. ไม่มีเวลา</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_54_3" value="3" /> 3. ป่วย</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_54_4" value="4" /> 4. ไม่ชอบการออกกำลังกาย</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_54_5" value="5" /> 5. ไม่มีความรู้</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_54_6" value="6" /> 6. น่าเบื่อหน่าย</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_54_7" value="7" /> 7. พิการ</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_54_8" value="8" /> 8. ไม่มีสถานที่</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="AnswerValue_54_9" value="9" /> 9. ไม่จำเป็นต่อตนเอง</label></td>
                                                <td><label><input type="checkbox" name="AnswerValue_54_10" value="10" /> 10. ขาดแรงจูงใจ</label></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><label><input type="checkbox" name="AnswerValue_54_11" value="11" /> 11. อื่นๆ ระบุ </label><input type="text" name="AnswerValue_54_11_txt" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="block-group" id="dv_15_6">
                                    <div class="heading">ข้อ 15.6 นอกเหนือจากการออกกำลังกายและเล่นกีฬา ท่านทำกิจกรรมนันทนาการใดบ้าง และบ่อยครั้งเพียงใด (ตอบได้มากกว่า 1 ข้อ)</div>
                                    <div class="entry-data for-table">
                                        <table class="tbl-ex th-no-bg" cellspacing="0">
                                            <tr>
                                                <th class="a">กิจกรรมนันทนาการ</th>
                                                <th class="b">เวลาที่ทำกิจกรรมนันทนาการต่อวัน (นาที)</th>
                                                <th class="b">จำนวนวันที่ทำกิจกรรมนันทนาการต่อสัปดาห์</th>
                                            </tr>
                                            <tr>
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 1. <select name="AnswerValue_55" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b"><input type="text" name="AnswerValue_56" class="input-field" /> นาที</td>
                                                <td class="b"><input type="text" name="AnswerValue_57" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr>
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 2. <select name="AnswerValue_58" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b"><input type="text" name="AnswerValue_59" class="input-field" /> นาที</td>
                                                <td class="b"><input type="text" name="AnswerValue_60" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr>
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 3. <select name="AnswerValue_61" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b"><input type="text" name="AnswerValue_62" class="input-field" /> นาที</td>
                                                <td class="b"><input type="text" name="AnswerValue_63" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr>
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 4. <select name="AnswerValue_64" class="c-dropdown">
                                                        <option value="">- ระบุ -</option>
                                                    </select>
                                                </td>
                                                <td class="b"><input type="text" name="AnswerValue_65" class="input-field" /> นาที</td>
                                                <td class="b"><input type="text" name="AnswerValue_66" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr>
                                                <td class="a">
                                                    <input type="checkbox" name="" value="" /> 5. อื่นๆ ระบุ <input type="text" name="AnswerValue_67" value="" />
                                                </td>
                                                <td class="b"><input type="text" name="AnswerValue_68" class="input-field" /> นาที</td>
                                                <td class="b"><input type="text" name="AnswerValue_69" class="input-field" /> วัน</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><input type="checkbox" name="AnswerValue_70" value="1" />  ไม่ได้ทำกิจกรรมนันทนาการ เนื่องจาก <input type="text" name="AnswerValue_71" value="" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p><a href="javascript:void(0);" class="change-tab to-1"><< ตอนที่ 2</a></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right"><a href="javascript:void(0);" class="change-tab to-3">ตอนที่ 4 >></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab_item">
                            <form id="frmSurveyCreate_4">

                                <div class="block-group">
                                    <div class="heading">ข้อ 16. คุณคิดว่าอะไรที่จูงใจให้คุณ และครอบครัว หรือคนรอบข้างคุณ มาออกกาลังกายหรือเล่นกีฬา (ตอบได้มากกว่า 1 ข้อ)</div>
                                    <div class="entry-data">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_1" value="1" /> 1. ความรู้ในการออกกำลังกาย</label></td>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_2" value="2" /> 2. ทัศนคติในการออกกำลังกาย</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_3" value="3" /> 3.สนามกีฬาหรือสถานที่ที่มีความสวยงาม มีมาตรฐาน</label></td>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_4" value="4" /> 4. ผู้นำการออกกำลังกาย</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_5" value="5" /> 5. การจัดกิจกรรมที่น่าสนใจ</label></td>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_6" value="6" /> 6. ดารา/นักร้อง/บุคคลที่มีชื่อเสียง</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_7" value="7" /> 7. ญาติพี่น้อง/เพื่อน</label></td>
                                                        <td><label><input type="checkbox" name="AnswerValue_72_8" value="8" /> 8. อาสาสมัครทางการกีฬามาให้ความรู้</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><label><input type="checkbox" name="AnswerValue_72_9" value="9" /> 9. อื่นๆ ระบุ </label><input type="text" name="AnswerValue_72_9_txt" class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-group">
                                    <div class="heading">ข้อ 17. คุณมีข้อเสนอแนะ หรือความต้องการให้หน่วยงานภาครัฐ/เอกชน ส่งเสริมให้ประชาชนออกกำลังกายหรือเล่นกีฬาเพิ่มขึ้นอย่างไร</div>
                                    <div class="entry-data">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_1" value="1" /> 1. สร้างสวนสาธารณะเพิ่มขึ้น</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_2" value="2" /> 2. ปรับปรุงซ่อมแซมสวนสาธารณะที่มีอยู่เดิมให้มีสภาพที่ดี มีความปลอดภัยและพร้อมใช้งาน เช่น มีไฟฟ้าส่องสว่าง มียาม รักษาการณ์คอยสอดส่องดูแลความปลอดภัยของผู้มาใช้บริการ</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_3" value="3" /> 3. สนับสนุนอุปกรณ์การกีฬา เครื่อง ออกกำลังกายกลางแจ้ง เครื่องออกกำลังกายในร่ม อุปกรณ์เครื่องเล่นในยิม ฯลฯ</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_4" value="4" /> 4. จัดกิจกรรมรณรงค์ชักชวนให้ ประชาชนออกกำลังกายหรือเล่นกีฬา</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_5" value="5" /> 5. อุปกรณ์การกีฬาควรมีราคาถูกลง</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_6" value="6" /> 6. จัดให้มีบุคลากรทางการกีฬามาให้ ความรู้ในการออกกำลังกายหรือเล่นกีฬา เช่น อาสาสมัครทางการกีฬา เจ้าหน้าที่พลศึกษา ผู้ฝึกสอนกีฬา เป็นต้น</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_7" value="7" /> 7. แหล่งรวบรวมข้อมูลด้านการออกกาลังกายหรือเล่นกีฬาที่สามารถสืบค้นผ่านระบบออนไลน์ เพื่อส่งเสริมให้ประชาชนออกกำลังกายอย่างถูกวิธี ถูกต้อง และปลอดภัย</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_8" value="8" /> 8. ส่งเสริมให้ประชาชนออกกาลังกาย โดยสามารถนำผลของการออกกำลังกายหรือเล่นกีฬามาใช้เป็นส่วนลดบริการของภาครัฐ และภาคเอกชนเช่น ส่วนลดค่าโดยสารการเดินทางสาธารณะ ส่วนลดค่าสาธารณูปโภค ลดหย่อนภาษี ส่วนลดสินค้าอุปโภคบริโภค ต่างๆ เป็นต้น</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label><input type="checkbox" name="AnswerValue_73_9" value="9" /> 9. อื่นๆ ระบุ </label> <input type="text" name="AnswerValue_73_9_txt" class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p><a href="javascript:void(0);" class="change-tab to-2"><< ตอนที่ 3</a></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right"><a href="javascript:void(0);" class="change-tab to-0">ตอนที่ 1 >></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา<br />
                                    ขอขอบคุณที่ตอบแบบสำรวจ<br />
                                    ☺☺☺☺☺
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade bd-example-modal-lg" id="Modal_Results" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmXXX">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ตอบแบบสำรวจเรียบร้อย</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvSurveyCreateSuccessMessage">
                                @*<h4 class="text-center">
                                    <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                    <a href="/Survey">ท่านได้ตอบ แบบสำรวจ สำเร็จแล้ว <br /> คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </h4>*@
                            </div>
                            <div class="center">
                                <a href="/Survey">คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> | <a href="/Home">กลับสู่หน้าหลัก</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {

<style>

.disabledbutton
{
    pointer-events: none;
    opacity: 0.4;
}

</style>


    <script type="text/javascript">
        @*var routeId = @ViewBag.routeId;
        var model = @Html.Raw(Json.Serialize(Model));
        var address = @Html.Raw(Json.Serialize(ViewBag.Address as Address));

        console.log('routeid=', routeId);
        console.log('model=', model);
        console.log('address=', address);*@
    </script>

    <script src="~/js/pages/survey-create.js"></script>
}
