<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        กลุ่มผู้ใช้งานระบบ > สร้าง
    </h1>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">ชื่อกลุ่ม</label>
                        <input class="col-md-6 form-control" name="GroupName" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">Description</label>
                        <input class="col-md-6 form-control" name="Description" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">สถานะ</label>
                        <select class="col-md-4 form-control" name="Status">
                            <option value="1">ใช้งาน</option>
                            <option value="2">ไม่ใช้งาน</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-4 m-0 p-0 pt-3">
                            <button type="submit" class="btn btn-success btn-block">สร้าง</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



    @*<div class="bg-primary m-1 p-1 text-white"><h4>Create Role Group</h4></div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create" method="post">

            <div class="form-group">
                <label for="groupName">Group Name: </label>
                <input name="groupName" class="form-control" />
            </div>

            <button class="btn btn-primary" type="submit">Create</button>

            <a class="btn btn-secondary" asp-action="Index">Cancel</a>

        </form>*@

