
@{
    ViewData["Title"] = "ConfirmEmail";
}


<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">Access Denied</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <h3></h3>

    </div>
</div>


