
@{
    ViewData["Title"] = "Account Locked";
}


<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">Account is locked</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-5 mx-auto">

                <h5>
                    โปรดลองอีกครั้งภายหลังหรือ
                    <a asp-action="ForgotPassword" asp-controller="Account">
                        Reset Password
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>


