

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ลืมรหัสผ่าน</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <h4 class="text-center">
            โปรดตรวจสอบข้อมูลรหัสผ่านใหม่ผ่านอีเมลล์ที่ได้ลงทะเบียนไว้
        </h4>

    </div>
</div>

