
@model RegisterViewModel

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ลงทะเบียน</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmRegister" method="post" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div>
                                    <h4>กรุณากรอกข้อมูลลงทะเบียน</h4>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-md-4 text-right" asp-for="IdcardNo">เลขประจำตัวประชาชน</label>*@

                                <div class="col-md-4">
                                    <select name="IdcardType" class="form-control">
                                        <option value="1">เลขประจำตัวประชาชน</option>
                                        <option value="2">หมายเลขหนังสือเดินทาง</option>
                                    </select>
                                </div>
                                <input class="col-md-5 form-control" required pattern="\d*" maxlength="13" asp-for="IdcardNo" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Name">ชื่อ</label>
                                <input class="col-md-5 form-control" required asp-for="Name" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Email"></label>
                                <input class="col-md-5 form-control" required asp-for="Email" />
                                @*<span asp-validation-for="Email" class="text-danger"></span>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Password"></label>
                                <input class="col-md-5 form-control" required asp-for="Password" />
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="ConfirmPassword"></label>
                                <input class="col-md-5 form-control" required asp-for="ConfirmPassword" />
                                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="AccountType">ประเภท</label>
                                <select asp-for="AccountType" class="col-md-5 form-control" asp-items="ViewBag.accountTypeList">
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div>
                                    <a href="javascript:void(0)" id="btnPrivacy">นโยบายความเป็นส่วนตัว</a> • <a href="javascript:void(0)" id="btnTerm">ข้อกำหนดในการให้บริการ</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" class="button darkgreen">ลงทะเบียน</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_Privacy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_1">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>นโยบายความเป็นส่วนตัว</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvPrivacy">
                                @*<h4 class="text-center">
                                        <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                        <a href="/Survey">ท่านได้ตอบ แบบสำรวจ สำเร็จแล้ว <br /> คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </h4>*@
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_Term" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_2">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ข้อกำหนดในการให้บริการ</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvTerm">
                                @*<h4 class="text-center">
                                        <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                        <a href="/Survey">ท่านได้ตอบ แบบสำรวจ สำเร็จแล้ว <br /> คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </h4>*@
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {


<script type="text/javascript">

    function GetConfig(name) {

        var settings = {
            "url": "/WebApi/Master/GetConfig",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "name": name }),
        };

        return $.ajax(settings);
    }

    $(document).ready(function () {


                
    });

    $("#btnPrivacy").click(function () {
        GetConfig("Policy").done(function (data, textStatus, jqXHR) {
            if (jqXHR.status == 200) {
                $.each(data, function (index, value) {
                    $("#dvPrivacy").html(value.value);
                });
                $("#Modal_Privacy").modal("show");
            }
        });
    });

    $("#btnTerm").click(function () {
        GetConfig("Terms and Condition").done(function (data, textStatus, jqXHR) {
            if (jqXHR.status == 200) {
                $.each(data, function (index, value) {
                    $("#dvTerm").html(value.value);
                });
                $("#Modal_Term").modal("show");
            }
        });
    });

</script>

}