
@model RegisterViewModel

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ลงทะเบียน</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmRegister" method="post" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div>
                                    <h4>กรุณากรอกข้อมูลลงทะเบียน</h4>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <select name="IdcardType" class="form-control">
                                        <option value="1">เลขประจำตัวประชาชน</option>
                                        <option value="2">หมายเลขหนังสือเดินทาง</option>
                                    </select>
                                </div>
                                <input class="col-md-5 form-control" pattern="\d*" maxlength="13" asp-for="IdcardNo" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right">คำนำหน้า</label>
                                <select name="PrefixId" id="ddlPREFIX_TH" class="col-md-5 form-control">
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Name">ชื่อ</label>
                                <input class="col-md-5 form-control" required asp-for="Name" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Surname">สกุล</label>
                                <input class="col-md-5 form-control" required asp-for="Surname" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="TelNo">เบอร์โทรศัพท์</label>
                                <input class="col-md-5 form-control" required asp-for="TelNo" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Email"></label>
                                <input class="col-md-5 form-control" required asp-for="Email" />
                                @*<span asp-validation-for="Email" class="text-danger"></span>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="Password"></label>
                                <input class="col-md-5 form-control" required asp-for="Password" id="password" />
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="ConfirmPassword"></label>
                                <input class="col-md-5 form-control" required asp-for="ConfirmPassword" onblur="check(this)" />

                                <script language='javascript' type='text/javascript'>
                                    function check(input) {
                                        console.log("checkk")
                                        if (input.value != document.getElementById('password').value) {
                                            input.setCustomValidity('Password Must be Matching.');
                                            input.reportValidity();
                                            console.log("Not Match")
                                        } else {
                                            // input is valid -- reset the error message
                                            input.setCustomValidity('');
                                            console.log("Match")
                                        }
                                    }
                                </script>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right" asp-for="AccountType">ประเภท</label>
                                <select asp-for="AccountType" class="col-md-5 form-control" asp-items="ViewBag.accountTypeList">
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div>
                                    <a href="javascript:void(0)" id="btnPrivacy">นโยบายความเป็นส่วนตัว</a> • <a href="javascript:void(0)" id="btnTerm">ข้อกำหนดในการให้บริการ</a>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div>
                                    <label> <input type="checkbox" id="chkAgree" /> ยอมรับเงื่อนไข ในนโยบายความเป็นส่วนตัวและข้อกำหนดในการให้บริการ </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" id="btnSubmit" disabled class="button darkgreen">ลงทะเบียน</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_Privacy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_1">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>นโยบายความเป็นส่วนตัว</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvPrivacy">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_Term" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_2">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ข้อกำหนดในการให้บริการ</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvTerm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {


<script type="text/javascript">

    function GetConfig(name) {

        var settings = {
            "url": "/WebApi/Master/GetConfig",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "name": name }),
        };

        return $.ajax(settings);
    }

    function GetToken() {

        var settings = {
            "url": "/api/Account/GetDPEToken",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
        };

        return $.ajax(settings);
    }

    function GetPrefix(token, selectedValue) {
        var form = new FormData();
        form.append("Token", token);

        var settings = {
            "url": "https://data.dpe.go.th/api/personal/prefix/getPrefix",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax(settings).done(function (response, status, xhr) {
            if (xhr.status == 200) {
                var data = JSON.parse(response).data

                var item_1 = ``
                $.each(data, function (index, value) {
                    item_1 += `<option value="` + value.PREFIX_ID + `">` + value.PREFIX_TH + `</option>`
                });
                $("#ddlPREFIX_TH").html(item_1);

                if (selectedValue != null) {
                    $("#ddlPREFIX_TH").val(selectedValue);
                }

            }
        });
    }

    $(document).ready(function () {

        GetToken().done(function (response) {
            var token = JSON.parse(response).data;
            GetPrefix(token, null);
        });                
    });

    $("#btnPrivacy").click(function () {
        GetConfig("Policy").done(function (data, textStatus, jqXHR) {
            if (jqXHR.status == 200) {
                $.each(data, function (index, value) {
                    $("#dvPrivacy").html(value.value);
                });
                $("#Modal_Privacy").modal("show");
            }
        });
    });

    $("#btnTerm").click(function () {
        GetConfig("Terms and Condition").done(function (data, textStatus, jqXHR) {
            if (jqXHR.status == 200) {
                $.each(data, function (index, value) {
                    $("#dvTerm").html(value.value);
                });
                $("#Modal_Term").modal("show");
            }
        });
    });

    $("#chkAgree").click(function () {
        if (this.checked) {
            $('#btnSubmit').removeAttr('disabled');
        }
        else {
            $('#btnSubmit').attr('disabled', 'disabled');
        }
    });

</script>

}