@{ 
    Layout = "_LayoutAdminBlank";
}

@model LoginViewModel

<div class="row">
    <div class="col-md-4 mx-auto" style="min-height: 400px">
        <h5>กรุณากรอกอีเมล์และรหัสผ่านเพื่อเข้าสู่ระบบ</h5>
        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-user btn-block">เข้าสู่ระบบ</button>
            </div>
        </form>
    </div>
</div>

