@inject SignInManager<ApplicationUser> SignInManager

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">สนามกีฬา</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row breadcrumbs-container">
            <div class="col-12">

                <div class="tx-head_green">
                    <h4><a href="/Stadium">สนามกีฬา</a> &#xbb; ข้อมูลสนามกีฬา</h4>
                </div>
            </div>
        </div>

        <div id="server-results"><!-- For server results --></div>

        <div class="row search-events">
            <div class="col-12">
                <div class="block-border">
                    <form id="frmSearchStadium" method="get">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        จังหวัด
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlProvince" name="Province">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        อำเภอ
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlAmphur" name="Amphur">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ตำบล
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlTambon" name="Tambon">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ประเภทสนามกีฬา
                                    </div>
                                    <div class="c field">
                                        <select id="ddlStadiumType" class="input-field w-100" name="StadiumType">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ชื่อสนามกีฬา
                                    </div>
                                    <div class="c field">
                                        <input type="text" class="input-field" name="STADIUM_NAME" id="txt_STADIUM_NAME" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        หน่วยงาน/ผู้สร้างสนามกีฬา
                                    </div>
                                    <div class="c field">
                                        <input type="text" class="input-field" name="SEARCH_BUILDING_BY" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        หน่วยงานที่รับผิดชอบ
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" name="SEARCH_SUPPORT_FLAG">
                                            <option value="">แสดงทั้งหมด</option>
                                            <option value="1">ภาครัฐ</option>
                                            <option value="2">ภาคเอกชน</option>
                                            <option value="3">อื่นๆ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ชื่อหน่วยงานที่รับผิดชอบ
                                    </div>
                                    <div class="c field">
                                        <input type="text" class="input-field" name="SEARCH_SUPPORT" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-button"><button id="btnSearchStadium" type="submit" class="button darkgreen">แสดงข้อมูล</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row search-events-result">
            <div class="col-12">
                <div id="dvTotalItems"><label id="lblTotalItems"></label></div>
                <ul id="ul-search-events-result">
                </ul>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination" id="ulPagination">
                </ul>
            </nav>

        </div>
    </div>
</div>




@section Scripts {
    
<style>

    .std-info {
        font-size: 16px;
    }

    .std-info img {
        width: 15px;
        height: 20px;
    }

</style>


    <script src="~/js/pages/stadium-index.js"></script>
}

