
<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ข้อมูลส่วนบุคคล</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">
                    <h4><a href="/PSN">บุคลากร</a> &#xbb; <a href="/PSN">ข้อมูลบุคลากร</a> &#xbb; ข้อมูลส่วนบุคคล</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col">
                        <button id="btnSave" type="button" class="btn btn-lightgreen btn-round ForModeEdit">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row person-details">
            <div class="col-12">
                <div class="block-border">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                            <div id="dvMEMBER_IMAGE" class="thumb-img">
                                <img id="imgPreview" src="/images/psn010101_02.png" />
                            </div>
                            <input type="hidden" name="MEMBER_IMAGE" />
                            @*<img id="imgPreview" src="" height="200" alt="Image preview...">*@
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 col-xl-8">
                            <h4 id="lblName">-</h4>
                            <p>ประเภทบุคลากร : <label id="lblTYPE_SUBJECT">-</label> </p>
                            <p>
                                ระดับ ความชำนาญ :
                                @*<label id="lblEXPERTISE"></label>*@
                                <input type="text" class="input-field" name="EXPERTISE" id="txtEXPERTISE" />
                            </p>
                            <p>
                                อีเมล์ : <a href="#">
                                    <input type="text" class="input-field" name="E_MAIL" id="txtE_MAIL" />
                                    @*<label id="lblE_MAIL"></label>*@
                                </a>
                            </p>
                            <p class="ForModeEdit">
                                อัพโหลดรูป :
                                <input id="filePreview" type="file" onchange="previewFile()">
                            </p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 col-xl-2">
                            <div class="x">
                                <div class="y">
                                    <div class="z">
                                        <a href="javascript:void(0);" class="button darkgreen" data-toggle="modal" data-target="#ModalContact">ติดต่อ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row event-manipulate">
            <div class="col-12">
                <div class="tabs" id="dvTabs">
                    <span id="tab1" class="tab">ส่วนบุคคล</span>
                    <span id="tab2" class="tab ForModeEdit">ที่อยู่</span>
                    <span id="tab3" class="tab">ประวัติการศึกษา</span>
                    <span id="tab4" class="tab">ประวัติการฝึกอบรม</span>
                    <span id="tab5" class="tab">ประวัติการปฏิบัติหน้าที่</span>
                    <span id="tab6" class="tab" style="display:none">ผลงานของ อสก.</span>
                </div>
                <div class="tab_content">
                    <div class="tab_item">
                        <form id="frmTab1">
                            <div class="block-group">
                                <div class="heading">ข้อมูลส่วนบุคคล</div>
                                <div class="entry-data">
                                    <div class="row ForModeEdit">
                                        <div class="col-12 col-md-10">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">เลข<span class="req">*</span></th>
                                                    <td class="td-id">
                                                        <select class="input-field">
                                                            <option value="">ประจำตัวประชาชน</option>
                                                        </select>&nbsp;&nbsp;<input type="text" name="HRS_ID" id="txtHRS_ID" value="" required class="input-field" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">คำนำหน้า (ไทย)<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="PREFIX_ID" id="ddlPREFIX_TH" required style="width: 165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">คำนำหน้า (อังกฤษ)<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="PREFIX_EN" id="ddlPREFIX_EN" required style="width: 165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ชื่อ (ไทย)<span class="req">*</span></th>
                                                    <td><input type="text" name="FIRST_NAME" id="txtFIRST_NAME" required /></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ชื่อ (อังกฤษ)<span class="req">*</span></th>
                                                    <td><input type="text" name="FIRST_NAME_ENG" id="txtFIRST_NAME_ENG" required /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">สกุล (ไทย)<span class="req">*</span></th>
                                                    <td><input type="text" name="LAST_NAME" id="txtLAST_NAME" required /></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">สกุล (อังกฤษ)<span class="req">*</span></th>
                                                    <td><input type="text" name="LAST_NAME_ENG" id="txtLAST_NAME_ENG" required /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">เพศ<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="SEX" id="ddlSEX" required>
                                                            <option value="1">ชาย</option>
                                                            <option value="2">หญิง</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ศาสนา<span class="req"></span></th>
                                                    <td>
                                                        <input type="text" name="RELIGION" id="txtRELIGION" class="input-field" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row ForModeEdit">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">วันเกิด (วัน-เดือน-ปี)<span class="req">*</span></th>
                                                    <td>
                                                        <input id="txtBIRTH_DATE" name="BIRTH_DATE" required class="input-field" type="text" data-provide="datepicker" data-date-language="th-th">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ระดับการศึกษา</th>
                                                    <td>
                                                        <select class="input-field" name="EDU_ID" id="ddlEDU_ID" style="width:165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">กลุ่มอาชีพ</th>
                                                    <td>
                                                        <select class="input-field" id="ddlCAREER_ID" name="CAREER_ID">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">อาชีพ</th>
                                                    <td>
                                                        <input name="JOB_SUBJECT" id="txtJOB_SUBJECT" class="input-field" type="text">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ตำแหน่งงานปัจจุบัน</th>
                                                    <td>
                                                        <input name="JOB_POSITION" id="txtJOB_POSITION" class="input-field" type="text">
                                                        @*<label id="lblCurrentSPORT_SUBJECT">-</label>*@
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            @*<table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ระดับ</th>
                                                    <td>
                                                        <label id="lblCurrentLEVEL_DETAIL">-</label>
                                                    </td>
                                                </tr>
                                            </table>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ประเภทบุคลากร</th>
                                                    <td>
                                                        <select class="input-field" name="TYPE_ID" id="ddlTYPE_ID" required style="width:165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    @*<br />
                                    <div class="row">
                                        <div class="col-12">
                                            <table cellspacing="0" class="tbl-data" width="100%">
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ประเภทบุคลากร</th>
                                                    <th class="manage center">จัดการ</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>ผู้ตัดสินกีฬา - ฟุตบอล</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab_item">
                        <div class="block-group">
                            <div class="heading">สถานที่ทำงาน</div>
                            <div class="entry-data">
                                @*<div class="row">
                                    <div class="col-12">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="120">หน่วยงาน</th>
                                                <td><input type="text" name="" value="" class="input-field" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                        <td><input type="text" name="CON_ADDR_NAME" id="txtCON_ADDR_NAME" value="" class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">เลขที่<span class="req">*</span></th>
                                                        <td><input type="text" name="CON_ADDR" id="txtCON_ADDR" class="field-houseno" /></td>
                                                        <th width="90">หมู่</th>
                                                        <td><input type="text" name="CON_MOO" id="txtCON_MOO" class="field-moo" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ซอย</th>
                                                        <td><input type="text" class="field-soi" name="CON_SOI" id="txtCON_SOI" /></td>
                                                        <th width="90">ถนน<span class="req">*</span></th>
                                                        <td><input type="text" name="CON_ROAD" class="field-road" id="txtCON_ROAD" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรศัพท์</th>
                                                        <td><input type="text" name="CON_TEL" id="txtCON_TEL" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรสาร</th>
                                                        <td><input type="text" name="" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">จังหวัด<span class="req">*</span></th>
                                                        <td>
                                                            <select name="CON_PROV" class="input-field" id="ddlCON_PROV">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">อำเภอ<span class="req">*</span></th>
                                                        <td>
                                                            <select name="CON_AMPHUR" class="input-field" id="ddlCON_AMPHUR">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ตำบล<span class="req">*</span></th>
                                                        <td>
                                                            <select name="CON_TUMBOL" class="input-field" id="ddlCON_TUMBOL">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                        <td><input type="text" name="CON_POST" id="txtCON_POST" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="block-group">
                            <div class="heading">ที่อยู่ปัจจุบัน</div>
                            <div class="entry-data">

                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                        <td><input type="text" name="HOME_ADDR_NAME" id="txtHOME_ADDR_NAME" value="" class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">เลขที่<span class="req">*</span></th>
                                                        <td><input type="text" name="HOME_ADDR" id="txtHOME_ADDR" class="field-houseno" /></td>
                                                        <th width="90">หมู่</th>
                                                        <td><input type="text" name="HOME_MOO" id="txtHOME_MOO" class="field-moo" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ซอย</th>
                                                        <td><input type="text" class="field-soi" name="HOME_SOI" id="txtHOME_SOI" /></td>
                                                        <th width="90">ถนน<span class="req">*</span></th>
                                                        <td><input type="text" name="HOME_ROAD" class="field-road" id="txtHOME_ROAD" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรศัพท์</th>
                                                        <td><input type="text" name="HOME_TEL" id="txtHOME_TEL" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรสาร</th>
                                                        <td><input type="text" name="" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">จังหวัด<span class="req">*</span></th>
                                                        <td>
                                                            <select name="HOME_PROV" class="input-field" id="ddlHOME_PROV">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">อำเภอ<span class="req">*</span></th>
                                                        <td>
                                                            <select name="HOME_AMPHUR" class="input-field" id="ddlHOME_AMPHUR">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ตำบล<span class="req">*</span></th>
                                                        <td>
                                                            <select name="HOME_TUMBOL" class="input-field" id="ddlHOME_TUMBOL">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                        <td><input type="text" name="HOME_POST" id="txtHOME_POST" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="block-group">
                            <div class="heading">ที่อยู่ตามทะเบียนบ้าน <span class="ForModeEdit"> <label><input type="checkbox" name="" id="chkCopyCON_ADDR_TO_REGHOME" /> ใช้ที่อยู่ปัจจุบัน</label></span></div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                        <td><input type="text" name="REGHOME_ADDR_NAME" id="txtREGHOME_ADDR_NAME" value="" class="input-field" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">เลขที่<span class="req">*</span></th>
                                                        <td><input type="text" name="REGHOME_ADDR" id="txtREGHOME_ADDR" class="field-houseno" /></td>
                                                        <th width="90">หมู่</th>
                                                        <td><input type="text" name="REGHOME_MOO" id="txtREGHOME_MOO" class="field-moo" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ซอย</th>
                                                        <td><input type="text" class="field-soi" name="REGHOME_SOI" id="txtREGHOME_SOI" /></td>
                                                        <th width="90">ถนน<span class="req">*</span></th>
                                                        <td><input type="text" name="REGHOME_ROAD" id="txtREGHOME_ROAD" class="field-road" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                @*<table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรศัพท์</th>
                                                        <td><input type="text" name="" /></td>
                                                    </tr>
                                                </table>*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                @*<table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">โทรสาร</th>
                                                        <td><input type="text" name="" /></td>
                                                    </tr>
                                                </table>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">จังหวัด<span class="req">*</span></th>
                                                        <td>
                                                            <select class="input-field" id="ddlREGHOME_PROV" name="REGHOME_PROV">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">อำเภอ<span class="req">*</span></th>
                                                        <td>
                                                            <select class="input-field" id="ddlREGHOME_AMPHUR" name="REGHOME_AMPHUR">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">ตำบล<span class="req">*</span></th>
                                                        <td>
                                                            <select class="input-field" id="ddlREGHOME_TUMBOL" name="REGHOME_TUMBOL">
                                                                <option value="">กรุณาเลือก</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="tbl-fields th-aright" cellspacing="0">
                                                    <tr>
                                                        <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                        <td><input type="text" name="REGHOME_POST" id="txtREGHOME_POST" /></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_item">
                        <div class="block-group">
                            <div class="heading">ประวัติการศึกษา <div class="button-container ForModeEdit"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal_AddEduHistory">เพิ่ม</a></div></div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="tbl-data" width="100%" id="tblEduHistory">
                                            <thead>
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ปี</th>
                                                    <th>วุฒิการศึกษา</th>
                                                    <th>สาขา</th>
                                                    <th>สถาบัน</th>
                                                    <th class="manage center ForModeEdit">จัดการ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                    <td>1</td>
                                                    <td>2543</td>
                                                    <td>ปริญญาตรี</td>
                                                    <td>วิทยาศาสตร์การกีฬา</td>
                                                    <td>ราชภัฏสวนสุนันทา</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_item">
                        <div class="block-group">
                            <div class="heading">ประวัติการฝึกอบรม <div class="button-container ForModeEdit" style="display: none"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal_AddTrainHistory">เพิ่ม</a></div></div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="tbl-data" width="100%" id="tblGMS_HISTORY">
                                            <thead>
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ปี</th>
                                                    <th>ชื่อหลักสูตร</th>
                                                    <th>ชนิดกีฬา</th>
                                                    <th>ประเภท/ระดับ</th>
                                                    <th class="manage center ForModeEdit" style="display: none">จัดการ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                    <td>1</td>
                                                    <td>2543</td>
                                                    <td>การพัฒนาบุคลากรทางการกีฬาระดับชาติ ด้านผู้ตัดสินกีฬาร่มร่อนระดับชาติ</td>
                                                    <td>กีฬาทางอากาศ</td>
                                                    <td>ผู้ตัดสิน (ร่มร่อน) ระดับชาติ</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>2557</td>
                                                    <td>การอบรมผู้ตัดสิน ยิงธนู Level 1</td>
                                                    <td>ยิงธนู</td>
                                                    <td>ผู้ตัดสินกีฬา Level 1</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>2556</td>
                                                    <td>การอบรมผู้ตัดสิน กีฬายิงธนู Level 1</td>
                                                    <td>ยิงธนู</td>
                                                    <td>ผู้ตัดสินกีฬา Level 1</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="block-group">
                            <div class="heading">ภาพประกอบ</div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        File Upload
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="tab_item">
                        <div class="block-group">
                            <div class="heading">ประวัติการปฏิบัติหน้าที่ <div class="button-container ForModeEdit"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal_AddWorkHistory">เพิ่ม</a></div></div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="tbl-data" width="100%" id="tblWorkHistory">
                                            <thead>
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>รายการ</th>
                                                    <th>หน้าที่/ชนิดกีฬา</th>
                                                    <th>ระดับ</th>
                                                    <th>สถานที่ปฎิบัติงาน</th>
                                                    <th>วันที่ปฏิบัติหน้าที่</th>
                                                    <th class="manage center ForModeEdit">จัดการ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                    <td>1</td>
                                                    <td>แข่งขันยิงธนู</td>
                                                    <td>ผู้ตัดสิน/ยิงธนู</td>
                                                    <td>จังหวัด</td>
                                                    <td>-</td>
                                                    <td>1 ต.ค. 57 - 31 ต.ค. 57</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>แข่งขันยิงธนู</td>
                                                    <td>ผู้ตัดสิน/ยิงธนู</td>
                                                    <td>จังหวัด</td>
                                                    <td>-</td>
                                                    <td>1 ต.ค. 57 - 31 ต.ค. 57</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="block-group">
                            <div class="heading">ภาพประกอบ</div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        File Upload
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="tab_item">
                        <div class="block-group">
                            <div class="heading">กิจกรรม <div class="button-container"> @*<a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal4">เพิ่ม</a>*@ </div></div>
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="tbl-data" width="100%" id="tblReportEvent2">
                                            <thead>
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ชื่อกิจกรรม</th>
                                                    <th>จำนวนผู้เข้าร่วม</th>
                                                    <th>วันที่จัดกิจกรรม</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                    <td>1</td>
                                                    <td>นำเต้นออกกำลังกาย</td>
                                                    <td>50</td>
                                                    <td>1 ต.ค. 57 17:00 - 1 ต.ค. 57 18:30</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>นำเต้นออกกำลังกาย</td>
                                                    <td>50</td>
                                                    <td>2 ต.ค. 57 17:00 - 2 ต.ค. 57 18:30</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_AddEduHistory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmAddEducationHistory">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>เพิ่ม ประวัติการศึกษา</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="tbl-fields" cellspacing="0">
                                <tr>
                                    <th width="100">ปี</th>
                                    <td><input type="text" name="EDU_YR" required /></td>
                                </tr>
                                <tr>
                                    <th>วุฒิการศึกษา</th>
                                    <td><input type="text" name="EDU_LEVEL" required /></td>
                                </tr>
                                <tr>
                                    <th>สาขา</th>
                                    <td><input type="text" name="EDU_DEPT" required /></td>
                                </tr>
                                <tr>
                                    <th>สถาบัน</th>
                                    <td><input type="text" name="EDU_INSTITUTE" required /></td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td colspan="2" align="center"><input id="btnAddEduHistory" type="button" value="ส่ง" class="button btn btn-lightgreen" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal_AddTrainHistory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmAddTrainHistory">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>เพิ่ม ประวัติการฝึกอบรม</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="tbl-fields" cellspacing="0">
                                <tr>
                                    <th width="200">ปี</th>
                                    <td><input type="text" name="TERM_YEAR" id="txtTERM_YEAR" required /></td>
                                </tr>
                                <tr>
                                    <th>ชื่อหลักสูตร</th>
                                    <td>
                                        <select name="TERM_ID" id="ddlTERM_ID" required style="width: 250px;">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>สถานะการลงทะเบียน</th>
                                    <td>
                                        <select name="HISTORY_STATUS_REGIS" style="width: 250px;">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="0">รอพิจารณา</option>
                                            <option value="1">อนุมัติ</option>
                                            <option value="2">ไม่ผ่านเกณฑ์</option>
                                            <option value="3">สละสิทธิ์</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>สถานะการอบรม</th>
                                    <td>
                                        <select name="HISTORY_STATUS_APPROVE" id="ddlSTATUS_ID" required style="width: 250px;">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>หมายเหตุ</th>
                                    <td><input type="text" name="HISTORY_REMARK" /></td>
                                </tr>
                                <tr>
                                    <th>วันที่ร้องขอ</th>
                                    <td><input type="text" name="HISTORY_TIME_REGIS" required data-provide="datepicker" data-date-language="th-th" /></td>
                                </tr>
                                <tr>
                                    <th>เลขที่วุฒิบัติ</th>
                                    <td><input type="text" name="HISTORY_NO" required /></td>
                                </tr>
                                <tr>
                                    <th>ตำแหน่ง</th>
                                    <td>
                                        <select name="POSITION_ID" id="ddlPOSITION_ID" style="width: 250px;">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td colspan="2" align="center"><input type="button" id="btnAddTrainHistory" value="ส่ง" class="button btn btn-lightgreen" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal_AddWorkHistory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmAddWorkHistory">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>เพิ่ม ประวัติการปฏิบัติหน้าที่</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="tbl-fields" cellspacing="0">
                                <tr>
                                    <th width="200">หัวข้อการปฎิบัติงาน</th>
                                    <td><input type="text" name="WORK_SUBJECT" required /></td>
                                </tr>
                                <tr>
                                    <th>วันที่เริ่มกิจกรรม</th>
                                    <td><input type="text" name="WORK_TIME_START" required data-provide="datepicker" data-date-language="th-th" /></td>
                                </tr>
                                <tr>
                                    <th>วันที่สิ้นสุดกิจกรรม</th>
                                    <td><input type="text" name="WORK_TIME_END" required data-provide="datepicker" data-date-language="th-th" /></td>
                                </tr>
                                <tr>
                                    <th>รายละเอียดงาน</th>
                                    <td><input type="text" name="WORK_DETAIL" required /></td>
                                </tr>
                                <tr>
                                    <th>สถานที่ปฎิบัติงาน</th>
                                    <td><input type="text" name="WORK_LOCATION" required /></td>
                                </tr>
                                <tr>
                                    <th>หน้าที่/ชนิดกีฬา</th>
                                    <td>
                                        <select name="SPORT_ID" id="ddlSPORT_ID" required style="width: 200px;">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ระดับ</th>
                                    <td>
                                        <select name="WORK_LEVEL" id="ddlLEVEL_ID" required style="width: 200px;">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>จำนวนครั้งที่ปฎิบัติหน้าที่</th>
                                    <td><input type="text" name="WORK_SEQ" required /></td>
                                </tr>
                                <tr>
                                    <th>ปีงบประมาณ</th>
                                    <td><input type="text" name="WORK_YEAR" required /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"><input type="button" id="btnAddWorkHistory" value="ส่ง" class="button btn btn-lightgreen" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>เพิ่ม กิจกรรม อสก.</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th width="120">ชื่อกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>จำนวนผู้เข้าร่วม</th>
                                <td><input type="number" name="" /></td>
                            </tr>
                            <tr>
                                <th>วันที่เริ่มกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>วันที่สิ้นสุดกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>ติดต่อ</div>
            </div>
            <div class="modal-body">

                <form id="frmSendEmail">

                    <div class="row person-details">
                        <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                            <div id="dvMEMBER_IMAGE2" class="img-center-mobile"><img src="/images/psn010101_02.png" /></div>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-9 col-xl-9">
                            <h4 id="lblName2">-</h4>
                            <p>ระดับ ความชำนาญ : <label id="lblEXPERTISE2"></label> </p>
                            <p>อีเมล์ : <a href="#"> <label id="lblE_MAIL2"></label> </a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="tbl-fields" cellspacing="0">
                                <tr>
                                    <th class="v-top" width="90">ข้อความ</th>
                                    <td><textarea id="txtSendEmailBody" class="width-100" name="SendEmailBody" required ></textarea></td>
                                </tr>
                                @*<tr>
                                    <th>เบอร์โทรศัพท์</th>
                                    <td><input type="tel" name="" /></td>
                                </tr>
                                <tr>
                                    <th>อีเมล์</th>
                                    <td><input type="email" name="" /></td>
                                </tr>*@
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td colspan="2" align="center"><input id="btnSendEmail" value="ส่ง" class="button btn btn-lightgreen" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_Results" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmXXX">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>บันทึกข้อมูลส่วนบุคคลเรียบร้อย</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvPSNSaveSuccessMessage">
                                <h4 class="text-center">
                                    <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                    ท่านได้บันทึกข้อมูลส่วนบุคคลเรียบร้อย <br /> <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </h4>
                            </div>
                            <div class="center">
                                <a href="javascript:void(0);" data-dismiss="modal">คลิกที่นี่เพื่อปิด</a> | <a href="/PSN">กลับสู่หน้าหลักบุคลากร</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {

    <style>
        label {
            margin: 0px;
        }
    </style>

    <script type="text/javascript">
        var routeId = @ViewBag.routeId;
        var appIdcardNo = "@ViewBag.appIdcardNo";
        var Mode = "@ViewBag.Mode";
        console.log('routeid=', routeId);
        //console.log('appIdcardNo=', appIdcardNo);
        
    </script>

    <script src="~/js/pages/psn-details.js"></script>
}



