
<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ข้อมูลส่วนบุคคล</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">
                    <h4><a href="#">บุคลากร</a> &#xbb; <a href="#">ข้อมูลบุคลากร</a> &#xbb; ข้อมูลส่วนบุคคล</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col">
                        <button type="button" class="btn btn-lightgreen btn-round">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row person-details">
            <div class="col-12">
                <div class="block-border">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                            <div id="dvMEMBER_IMAGE" class="thumb-img"><img src="/images/psn010101_02.png" /></div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 col-xl-8">
                            <h4 id="lblName">-</h4>
                            <p>ระดับ ความชำนาญ : <label id="lblEXPERTISE"></label> </p>
                            <p id="lblTYPE_SUBJECT">ความชำนาญ : - </p>
                            <p>อีเมล์ : <a href="#"> <label id="lblE_MAIL"></label> </a></p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 col-xl-2">
                            <div class="x">
                                <div class="y">
                                    <div class="z">
                                        <a href="javascript:void(0);" class="button darkgreen" data-toggle="modal" data-target="#ModalContact">ติดต่อ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row event-manipulate">
            <div class="col-12">
                <form action="" enctype="multipart/form-data">
                    <div class="tabs">
                        <span class="tab">ส่วนบุคคล</span>
                        <span class="tab">ที่อยู่</span>
                        <span class="tab">ประวัติการศึกษา</span>
                        <span class="tab">ประวัติการฝึกอบรม</span>
                        <span class="tab">ประวัติการปฏิบัติหน้าที่</span>
                        <span class="tab">ผลงานของ อสก.</span>
                    </div>
                    <div class="tab_content">
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">ข้อมูลส่วนบุคคล</div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">เลข<span class="req">*</span></th>
                                                    <td class="td-id">
                                                        <select class="input-field">
                                                            <option value="">ประจำตัวประชาชน</option>
                                                        </select>&nbsp;&nbsp;<input type="text" name="HRS_ID" id="txtHRS_ID" value="" class="input-field" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">คำนำหน้า (ไทย)<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="PREFIX_TH" id="ddlPREFIX_TH" style="width: 165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">คำนำหน้า (อังกฤษ)<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="PREFIX_EN" id="ddlPREFIX_EN" style="width: 165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ชื่อ (ไทย)<span class="req">*</span></th>
                                                    <td><input type="text" name="FIRST_NAME" id="txtFIRST_NAME" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ชื่อ (อังกฤษ)<span class="req">*</span></th>
                                                    <td><input type="text" name="FIRST_NAME_EN" id="txtFIRST_NAME_EN" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">สกุล (ไทย)<span class="req">*</span></th>
                                                    <td><input type="text" name="LAST_NAME" id="txtLAST_NAME" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">สกุล (อังกฤษ)<span class="req">*</span></th>
                                                    <td><input type="text" name="LAST_NAME_EN" id="txtLAST_NAME_EN" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">เพศ<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field" name="SEX">
                                                            <option value="1">ชาย</option>
                                                            <option value="2">หญิง</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ศาสนา<span class="req">*</span></th>
                                                    <td>
                                                        <select class="input-field">
                                                            <option value=""></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">วันเกิด (วัน-เดือน-ปี)<span class="req">*</span></th>
                                                    <td>
                                                        <input name="BIRTH_DATE" class="input-field" type="text" data-provide="datepicker" data-date-language="th-th">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ระดับการศึกษา</th>
                                                    <td>
                                                        <select class="input-field" name="EDU_ID" id="ddlEDU_ID" style="width:165px">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">กลุ่มอาชีพ</th>
                                                    <td>
                                                        <select class="input-field">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">อาชีพ</th>
                                                    <td>
                                                        <select class="input-field">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ตำแหน่งงานปัจจุบัน</th>
                                                    <td><input type="text" name="" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ระดับ</th>
                                                    <td>
                                                        <select class="input-field">
                                                            <option value="">ระดับชาติ</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="140">ประเภทบุคลากร</th>
                                                    <td><a href="#" class="button darkgreen small-long">เพิ่ม</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-12">
                                            <table cellspacing="0" class="tbl-data" width="100%">
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ประเภทบุคลากร</th>
                                                    <th class="manage center">จัดการ</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>ผู้ตัดสินกีฬา - ฟุตบอล</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">สถานที่ทำงาน</div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="tbl-fields th-aright" cellspacing="0">
                                                <tr>
                                                    <th width="120">หน่วยงาน</th>
                                                    <td><input type="text" name="" value="" class="input-field" /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                            <td><input type="text" name="" value="" class="input-field" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">เลขที่<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-houseno" /></td>
                                                            <th width="90">หมู่</th>
                                                            <td><input type="text" name="" class="field-moo" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ซอย</th>
                                                            <td><input type="text" class="field-soi" /></td>
                                                            <th width="90">ถนน<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-road" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรศัพท์</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรสาร</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">จังหวัด<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">อำเภอ<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ตำบล<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="block-group">
                                <div class="heading">ที่อยู่ปัจจุบัน</div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                            <td><input type="text" name="" value="" class="input-field" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">เลขที่<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-houseno" /></td>
                                                            <th width="90">หมู่</th>
                                                            <td><input type="text" name="" class="field-moo" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ซอย</th>
                                                            <td><input type="text" class="field-soi" /></td>
                                                            <th width="90">ถนน<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-road" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรศัพท์</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรสาร</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">จังหวัด<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">อำเภอ<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ตำบล<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-group">
                                <div class="heading">ที่อยู่ตามทะเบียนบ้าน <span><input type="checkbox" name="" /> ใช้ที่อยู่ปัจจุบัน</span></div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">หมู่บ้าน/อาคาร<span class="req">*</span></th>
                                                            <td><input type="text" name="" value="" class="input-field" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">เลขที่<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-houseno" /></td>
                                                            <th width="90">หมู่</th>
                                                            <td><input type="text" name="" class="field-moo" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ซอย</th>
                                                            <td><input type="text" class="field-soi" /></td>
                                                            <th width="90">ถนน<span class="req">*</span></th>
                                                            <td><input type="text" name="" class="field-road" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรศัพท์</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">โทรสาร</th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">จังหวัด<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">อำเภอ<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">ตำบล<span class="req">*</span></th>
                                                            <td>
                                                                <select class="input-field">
                                                                    <option value="">กรุณาเลือก</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="tbl-fields th-aright" cellspacing="0">
                                                        <tr>
                                                            <th width="120">รหัสไปรษณีย์<span class="req">*</span></th>
                                                            <td><input type="text" name="" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">ประวัติการศึกษา <div class="button-container"><a href="่javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal1">เพิ่ม</a></div></div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table cellspacing="0" class="tbl-data" width="100%" id="tblEduHistory">
                                                <thead>
                                                    <tr>
                                                        <th>ลำดับ</th>
                                                        <th>ปี</th>
                                                        <th>วุฒิการศึกษา</th>
                                                        <th>สาขา</th>
                                                        <th>สถาบัน</th>
                                                        <th class="manage center">จัดการ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*<tr>
                                                        <td>1</td>
                                                        <td>2543</td>
                                                        <td>ปริญญาตรี</td>
                                                        <td>วิทยาศาสตร์การกีฬา</td>
                                                        <td>ราชภัฏสวนสุนันทา</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">ประวัติการฝึกอบรม <div class="button-container"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal2">เพิ่ม</a></div></div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table cellspacing="0" class="tbl-data" width="100%" id="tblGMS_HISTORY">
                                                <thead>
                                                    <tr>
                                                        <th>ลำดับ</th>
                                                        <th>ปี</th>
                                                        <th>ชื่อหลักสูตร</th>
                                                        <th>ชนิดกีฬา</th>
                                                        <th>ประเภท/ระดับ</th>
                                                        <th class="manage center">จัดการ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*<tr>
                                                        <td>1</td>
                                                        <td>2543</td>
                                                        <td>การพัฒนาบุคลากรทางการกีฬาระดับชาติ ด้านผู้ตัดสินกีฬาร่มร่อนระดับชาติ</td>
                                                        <td>กีฬาทางอากาศ</td>
                                                        <td>ผู้ตัดสิน (ร่มร่อน) ระดับชาติ</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>2557</td>
                                                        <td>การอบรมผู้ตัดสิน ยิงธนู Level 1</td>
                                                        <td>ยิงธนู</td>
                                                        <td>ผู้ตัดสินกีฬา Level 1</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>2556</td>
                                                        <td>การอบรมผู้ตัดสิน กีฬายิงธนู Level 1</td>
                                                        <td>ยิงธนู</td>
                                                        <td>ผู้ตัดสินกีฬา Level 1</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-group">
                                <div class="heading">ภาพประกอบ</div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            File Upload
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">ประวัติการปฏิบัติหน้าที่ <div class="button-container"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal3">เพิ่ม</a></div></div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table cellspacing="0" class="tbl-data" width="100%" id="tblWorkHistory">
                                                <thead>
                                                    <tr>
                                                        <th>ลำดับ</th>
                                                        <th>รายการ</th>
                                                        <th>หน้าที่/ชนิดกีฬา</th>
                                                        <th>ระดับ</th>
                                                        <th>สังกัด</th>
                                                        <th>วันที่ปฏิบัติหน้าที่</th>
                                                        <th class="manage center">จัดการ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>แข่งขันยิงธนู</td>
                                                        <td>ผู้ตัดสิน/ยิงธนู</td>
                                                        <td>จังหวัด</td>
                                                        <td>-</td>
                                                        <td>1 ต.ค. 57 - 31 ต.ค. 57</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>แข่งขันยิงธนู</td>
                                                        <td>ผู้ตัดสิน/ยิงธนู</td>
                                                        <td>จังหวัด</td>
                                                        <td>-</td>
                                                        <td>1 ต.ค. 57 - 31 ต.ค. 57</td>
                                                        <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-group">
                                <div class="heading">ภาพประกอบ</div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            File Upload
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_item">
                            <div class="block-group">
                                <div class="heading">กิจกรรม <div class="button-container"><a href="javascript:void(0);" class="button small-long darkgreen" data-toggle="modal" data-target="#Modal4">เพิ่ม</a></div></div>
                                <div class="entry-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table cellspacing="0" class="tbl-data" width="100%">
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>ชื่อกิจกรรม</th>
                                                    <th>จำนวนผู้เข้าร่วม</th>
                                                    <th>วันที่จัดกิจกรรม</th>
                                                    <th class="manage center">จัดการ</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>นำเต้นออกกำลังกาย</td>
                                                    <td>50</td>
                                                    <td>1 ต.ค. 57 17:00 - 1 ต.ค. 57 18:30</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>นำเต้นออกกำลังกาย</td>
                                                    <td>50</td>
                                                    <td>2 ต.ค. 57 17:00 - 2 ต.ค. 57 18:30</td>
                                                    <td class="center"><a href="#" class="button small red">&nbsp;ลบ&nbsp;</a> <a href="#" class="button small darkgreen">แก้ไข</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>เพิ่ม ประวัติการศึกษา</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th width="100">ปี</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>วุฒิการศึกษา</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>สาขา</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>สถาบัน</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>เพิ่ม ประวัติการฝึกอบรม</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th width="100">ปี</th>
                                <td>
                                    <select name="">
                                        <option value="">- ปี -</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>ชื่อหลักสูตร</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>ชนิดกีฬา</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>ประเภท/ระดับ</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>เพิ่ม ประวัติการปฏิบัติหน้าที่</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th width="120">ชื่อรายการ</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>หน้าที่/ชนิดกีฬา</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>ระดับ</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>สังกัด</th>
                                <td>
                                    <select name="">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>วันที่เริ่มกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>วันที่สิ้นสุดกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>เพิ่ม กิจกรรม อสก.</div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th width="120">ชื่อกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>จำนวนผู้เข้าร่วม</th>
                                <td><input type="number" name="" /></td>
                            </tr>
                            <tr>
                                <th>วันที่เริ่มกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr>
                                <th>วันที่สิ้นสุดกิจกรรม</th>
                                <td><input type="text" name="" /></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>ติดต่อ</div>
            </div>
            <div class="modal-body">
                <div class="row person-details">
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="img-center-mobile"><img src="/images/psn010101_01.png" /></div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9 col-xl-9">
                        <h4>นายอำนวย อยู่ดอน</h4>
                        <p>ระดับ : ระดับชาติ</p>
                        <p>อีเมล์ : <a href="#">aummuay@gmail.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="tbl-fields" cellspacing="0">
                            <tr>
                                <th class="v-top" width="90">ข้อความ</th>
                                <td><textarea name="" class="width-100"></textarea></td>
                            </tr>
                            <tr>
                                <th>เบอร์โทรศัพท์</th>
                                <td><input type="tel" name="" /></td>
                            </tr>
                            <tr>
                                <th>อีเมล์</th>
                                <td><input type="email" name="" /></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submit" value="ส่ง" class="button btn btn-lightgreen" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/pages/psn-edit.js"></script>
}



