<div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ข้อมูลบุคลากร</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">
                    <h4><a href="#">บุคลากร</a> &#xbb; ข้อมูลบุคลากร</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col">
                        @*<button type="button" class="btn btn-lightgreen btn-round">ลงทะเบียน</button>*@
                        <a href="/PSN/Create" class="btn btn-lightgreen btn-round">ลงทะเบียน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row search-person">
            <div class="col-12">
                <div class="block-border">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        จังหวัด
                                    </div>
                                    <div class="c field">
                                        <select id="ddlProvince" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        อำเภอ
                                    </div>
                                    <div class="c field">
                                        <select id="ddlAmphur" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ตำบล
                                    </div>
                                    <div class="c field">
                                        <select id="ddlTambon" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                        <div class="col-advsearch"><a href="javascript:void(0);" id="btn-advsearch">ค้นหาขั้นสูง</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-advsearch">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ประเภทบุคลากรการกีฬา
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="width:150px">
                                                <option value="">ผู้ตัดสินกีฬา</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ชนิดกีฬา
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="width:150px">
                                                <option value="">ฟุตบอล</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ระดับ
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="width:150px">
                                                <option value="">ชาติ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ค้นจาก
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="margin-bottom: 8px; width:150px">
                                                <option value="">ชื่อ-สกุล</option>
                                            </select>
                                            <input id="txtName" type="text" class="input-field" name="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-button"><a id="btnSearchPSN" href="javascript:void(0);" class="button darkgreen">แสดงข้อมูล</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row search-person-result">
            <div class="col-12">
                <ul id="ul-search-person-result">
                    @*<li>
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <div class="thumb-img"><img src="images/psn010101_01.png" /></div>
                            </div>
                            <div class="col-12 col-sm-9">
                                <h4>นายอำนวย อยู่ดอน</h4>
                                <div class="training-history">ประวัติการฝึกอบรม</div>
                                <div class="clearfix">
                                    <div class="col-traininghistory">
                                        <ol>
                                            <li>--</li>
                                        </ol>
                                    </div>
                                    <div class="col-th-btn">
                                        <a href="/PSN/Edit/1" class="button darkgreen medium">แก้ไข</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <div class="thumb-img"><img src="images/psn010101_02.png" /></div>
                            </div>
                            <div class="col-12 col-sm-9">
                                <h4>นายบุคลากร 1</h4>
                                <div class="training-history">ประวัติการฝึกอบรม</div>
                                <div class="clearfix">
                                    <div class="col-traininghistory">
                                        <ol>
                                            <li>ผู้ฝึกอบรมกีฬา/ฟุตบอล/ฝึกอบรมผู้ฝึกสอนกีฬาฟุตบอล T-License</li>
                                        </ol>
                                    </div>
                                    <div class="col-th-btn">
                                        <a href="/PSN/Edit/2" class="button darkgreen medium">แก้ไข</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>

        <div style="display:none">
            <span id="lbl_now_page"></span>/<span id="lbl_all_pages"></span>
            <input type="hidden" id="now_page" name="now_page" value="1" />
            <a href="javascript:void(0);" id="btnPrev">Prev</a>
            <a href="javascript:void(0);" id="btnNext">Next</a>
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" id="btnLoadMore" style="display:none">เพิ่มเติม >></a>
        </div>

    </div>
</div>

@section Scripts {

    <script src="~/js/pages/psn-index.js"></script>
}

