<div class="page-breadcrumbs" style="background-image: url('images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">บุคลากรการกีฬา</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">
                    <h4><a href="/PSN">บุคลากรการกีฬา</a> &#xbb; ข้อมูลบุคลากรการกีฬา</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col">
                        <a id="btnGoToIPESHD" style="display:none" href="javascript:void(0);" class="btn btn-lightgreen btn-round">สมัครเข้ารับการอบรม</a>
                        <a id="btnOpenPopupForCreatePSN" style="display:none" href="javascript:void(0);" class="btn btn-lightgreen btn-round">ลงทะเบียน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-top">
    <div class="container">
        <div class="row search-person">
            <div class="col-12">
                <div class="block-border">
                    <form method="get">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        จังหวัด
                                    </div>
                                    <div class="c field">
                                        <select id="ddlProvince" name="Province" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        อำเภอ
                                    </div>
                                    <div class="c field">
                                        <select id="ddlAmphur" name="Amphur" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ตำบล
                                    </div>
                                    <div class="c field">
                                        <select id="ddlTambon" name="Tambon" class="input-field" style="width:150px">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                        <div class="col-advsearch"><a href="javascript:void(0);" id="btn-advsearch">ค้นหาขั้นสูง</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-advsearch">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ประเภทบุคลากรการกีฬา
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="width:150px" id="ddlTYPE_ID_SEARCH" name="TYPE_ID_SEARCH">
                                                <option value="">กรุณาเลือก</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ชนิดกีฬา
                                        </div>
                                        <div class="c field">
                                            <select class="input-field" style="width:150px" id="ddlSPORT_ID" name="SPORT_ID">
                                                <option value="">กรุณาเลือก</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            ค้นจากชื่อ
                                        </div>
                                        <div class="c field">
                                            <input id="txtName" type="text" class="input-field" name="SEARCH_NAME" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row-field clearfix">
                                        <div class="c lbl">
                                            เลขบัตรประชาชน
                                        </div>
                                        <div class="c field">
                                            <input type="text" class="input-field" name="SEARCH_HRS_ID" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-button"><button type="submit" class="button darkgreen">แสดงข้อมูล</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row search-person-result">
            <div class="col-12">
                <div id="dvTotalItems"><label id="lblTotalItems"></label></div>
                <ul id="ul-search-person-result">
                </ul>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="ulPagination">
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var appUserId = @ViewBag.AppUserId;
        var appIdcardNo = "@ViewBag.appIdcardNo";

        console.log('appUserId=', appUserId);
        console.log('appIdcardNo=', appIdcardNo);
    </script>

    <script src="~/js/pages/psn-index.js"></script>
}

<div class="modal fade bd-example-modal-lg" id="Modal_CreatePSN" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>ลงทะเบียน</div>
            </div>
            <div class="modal-body">
                <form id="frmCreateGmsMember" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="entry-data">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">เลข<span class="req">*</span></th>
                                                <td class="td-id">
                                                    <select class="input-field">
                                                        <option value="">ประจำตัวประชาชน</option>
                                                    </select>&nbsp;&nbsp;<input type="text" name="HRS_ID" id="txtHRS_ID" value="" required pattern="\d*" minlength="13" maxlength="13" class="input-field" style="width: 165px" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">คำนำหน้า (ไทย)<span class="req">*</span></th>
                                                <td>
                                                    <select class="input-field" name="PREFIX_ID" id="ddlPREFIX_TH" required style="width: 165px">
                                                        <option value="">กรุณาเลือก</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">ชื่อ (ไทย)<span class="req">*</span></th>
                                                <td><input type="text" name="FIRST_NAME" id="txtFIRST_NAME" required style="width:165px" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">ชื่อ (อังกฤษ)<span class="req">*</span></th>
                                                <td><input type="text" name="FIRST_NAME_ENG" id="txtFIRST_NAME_ENG" required style="width:165px" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">สกุล (ไทย)<span class="req">*</span></th>
                                                <td><input type="text" name="LAST_NAME" id="txtLAST_NAME" required style="width:165px" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">สกุล (อังกฤษ)<span class="req">*</span></th>
                                                <td><input type="text" name="LAST_NAME_ENG" id="txtLAST_NAME_ENG" style="width:165px" required /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-5">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">เพศ<span class="req">*</span></th>
                                                <td>
                                                    <select class="input-field" name="SEX" id="ddlSEX" required>
                                                        <option value="1">ชาย</option>
                                                        <option value="2">หญิง</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-5">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">วันเกิด (วัน-เดือน-ปี)<span class="req">*</span></th>
                                                <td>
                                                    <input id="txtBIRTH_DATE" name="BIRTH_DATE" class="input-field" type="text" style="width:165px" data-provide="datepicker" data-date-language="th-th">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="tbl-fields th-aright" cellspacing="0">
                                            <tr>
                                                <th width="140">ประเภทบุคลากร</th>
                                                <td>
                                                    <select class="input-field" name="TYPE_ID" id="ddlTYPE_ID" required style="width:165px">
                                                        <option value="">กรุณาเลือก</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a href="/Policy" target="_blank" id="btnPrivacy">นโยบายความเป็นส่วนตัว</a> • <a href="/Term" target="_blank" id="btnTerm">ข้อกำหนดในการให้บริการ</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <label> <input type="checkbox" id="chkAgree" /> ยอมรับเงื่อนไข ในนโยบายความเป็นส่วนตัวและข้อกำหนดในการให้บริการ </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <input id="btnCreate" type="button" value="ลงทะเบียน" disabled class="button darkgreen" />
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_NoProfileIDCard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">ปิด</span>
                </button>
                <div>ข้อมูลเลขบัตรประชาชนไม่สมบูรณ์</div>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">

                        <div>
                            <h4 class="text-center">
                                <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                <a href="/Account/UpdateProfile">ข้อมูลเลขบัตรประชาชนไม่สมบูรณ์ <br /> กรุณาคลิกที่นี่เพื่อกรอกข้อมูล</a> <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </h4>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

