<h1>File upload</h1>

@*
    To post files to server we need form with post method,
    and additionally browser must use multipart/form-data
    encoding. Otherwise file will not be sent.
*@
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

@*
    If upload succeeded we will show nice message to user.
*@
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}



<hr />

@*<form method="post" enctype="multipart/form-data">*@
    <input type="file" id="fileInput" multiple onchange="UploadFile('fileInput');" />
    <input type="button" id="fileButton" value="Upload Files" />
@*</form>*@

<hr />


@section Scripts {

    <script>

        function UploadFile(id) {

                var files = $("#"+id).get(0).files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append("file", files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: "/Events/UploadFiles",
                    dataType: "json",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result, status, xhr) {
                        alert(result);
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                    }
                });
        }

        $(document).ready(function () {
            $("#fileButton").click(function () {
                var files = $("#fileInput").get(0).files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append("file", files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: "/Events/UploadFiles",
                    dataType: "json",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result, status, xhr) {
                        alert(result);
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                    }
                });
            });
        });
    </script>

}

